@use "sass:map";

@include hui-class(null, social, default, false) {

	a[class*="hustle-share-"] {
		border-radius: 0 !important;

		[class*="hustle-icon-social-"] {
			width: #{map.get($social-module, icon-size) - (map.get($social-module, border-width) * 2)};
			height: #{map.get($social-module, icon-size) - (map.get($social-module, border-width) * 2)};
		}
	}

	&[data-custom="false"] {

		@each $media, $palette in $social-media-colors {

			a.hustle-share--#{$media} {

				.hustle-icon-social-#{$media} {
					color: social-media($media, default);
				}
			}

			ul.hustle-counter--none {

				a.hustle-share--#{$media} {
					border-color: transparent;
				}
			}

			ul:not(.hustle-counter--none) {

				a.hustle-share--#{$media} {
					border-color: social-media($media, default);
				}
			}
		}
	}

	ul {

		&.hustle-counter--none {

			a[class*="hustle-share-"] {
				font-size: map.get($social-icons-size, large);
			}
		}

		&.hustle-counter--stacked {

			a[class*="hustle-share-"] {
				font-size: map.get($social-icons-size, default);

				[class*="hustle-icon-social-"] {
					margin: 0 auto;
				}
			}
		}

		&.hustle-counter--stacked {

			a[class*="hustle-share-"] {
				font-size: map.get($social-icons-size, default);
			}
		}
	}
}