@use "sass:map";

@include hui-class(null, social, rounded, false) {

	a[class*="hustle-share-"] {
		border-radius: map.get($social-module, icon-size) !important;

		[class*="hustle-icon-social-"] {
			height: map.get($social-module, icon-size);
			border-radius: map.get($social-module, icon-size) !important;
			font-size: map.get($social-icons-size, small);
		}
	}

	&[data-custom="false"] {

		@each $media, $palette in $social-media-colors {

			a.hustle-share--#{$media} {
				border-color: social-media($media, default);

				.hustle-icon-social-#{$media} {
					background-color: social-media($media, default);
					color: #FFFFFF;
				}
			}
		}
	}

	ul {

		&.hustle-counter--none {

			a[class*="hustle-share-"] {
				border-width: 0;

				[class*="hustle-icon-social-"] {
					width: map.get($social-module, icon-size);
				}
			}
		}

		&.hustle-counter--stacked {

			a[class*="hustle-share-"] {

				[class*="hustle-icon-social-"] {
					width: auto;
					margin-top: -#{map.get($social-module, border-width)};
					margin-right: -#{map.get($social-module, border-width)};
					margin-left: -#{map.get($social-module, border-width)};
				}
			}
		}

		&.hustle-counter--inline {

			a[class*="hustle-share-"] {

				[class*="hustle-icon-social-"] {
					width: map.get($social-module, icon-size);
					margin-top: -#{map.get($social-module, border-width)};
					margin-left: -#{map.get($social-module, border-width)};
				}
			}
		}
	}
}