<div class="hustle-optin hustle-optin--{{ site.optin-design }}">

	<div class="hustle-optin-header">

		<button class="hustle-close">
			<i class="hustle-icon-close" aria-hidden="true"></i>
			Close this message
		</button>

	</div>

	<div class="hustle-optin-body">

		<!-- Success Message -->
		{% include hustle-optin/elements/success-message.html %}

		<!-- Layout -->
		<div class="hustle-layout">

			<div class="hustle-layout-body">

				{% if
					site.data.optin.content.image != blank or
					site.data.optin.content.title != blank or
					site.data.optin.content.subtitle != blank or
					site.data.optin.content.content != blank or
					site.data.optin.content.cta != blank
				%}
				<div class="hustle-layout-content hustle-image-display--{{ site.data.optin.appearance.display }}">

					{% if site.data.optin.content.image != blank %}
					<div
						class="hustle-image hustle-image-fit--{{ site.data.optin.appearance.fitting }}"
						aria-hidden="true"
					>

						<img
							src="{{site.url}}/assets/images/{{ site.data.optin.content.image }}"
							class="hustle-image-position--{{ site.data.optin.appearance.position-x }}{{ site.data.optin.appearance.position-y }}"
						/>

					</div>
					{% endif %}

					{% if
						site.data.optin.content.title != blank or
						site.data.optin.content.subtitle != blank or
						site.data.optin.content.content != blank or
						site.data.optin.content.cta != blank
					%}
					<div class="hustle-content">

						{% if site.data.optin.content.title != blank and site.data.optin.content.subtitle != blank %}
						<div class="hustle-group-title">

							{% if site.data.optin.content.title != blank %}
							<h1 class="hustle-title">{{ site.data.optin.content.title }}</h1>
							{% endif %}

							{% if site.data.optin.content.subtitle != blank %}
							<h2 class="hustle-subtitle">{{ site.data.optin.content.subtitle }}</h2>
							{% endif %}

						</div>
						{% endif %}

						{% if site.data.optin.content.content != blank %}
						<p>{{ site.data.optin.content.content }}</p>
						{% endif %}

						{% if site.data.optin.content.cta != blank %}
						<button id="show-success-message" class="hustle-button">{{ site.data.optin.content.cta }}</button>
						{% endif %}

					</div>
					{% endif %}

				</div>
				{% endif %}

				{% include hustle-optin/elements/form.html %}

			</div>

			{% if site.data.optin.content.nsa == true %}
				<div class="hustle-layout-footer">

					<p><a href="/">Never see this message again</a></p>

				</div>
			{% endif %}

		</div>

	</div>

</div>