{% if site.data.optin.appearance.layout != default %}
	{% if
		site.data.optin.appearance.display == above or
		site.data.optin.appearance.display == below
	%}
		{% assign position = "left" %}
	{% else %}
		{% assign position = site.data.optin.appearance.display %}
	{% endif %}
{% else %}
	{% assign position = site.data.optin.appearance.display %}
{% endif %}

<div class="hustle-optin hustle-optin--{{ site.data.optin.appearance.layout }}">

	<div class="hustle-optin-header">

		<button class="hustle-close">
			<i class="hustle-icon-close" aria-hidden="true"></i>
			Close this message
		</button>

	</div>

	<div class="hustle-optin-body">

		<!-- Success Message -->
		{% include hustle-optin/elements/success-message.html %}

		<!-- Layout -->
		<div class="hustle-layout">

			<div class="hustle-layout-body">

				{% if
					site.data.optin.content.image != blank or
					site.data.optin.content.title != blank or
					site.data.optin.content.subtitle != blank or
					site.data.optin.content.content != blank or
					site.data.optin.content.cta != blank
				%}
				<div class="hustle-layout-content hustle-layout-position--{{ position }}">

					{% include hustle-optin/elements/image.html %}

					{% include hustle-optin/elements/content.html %}

				</div>
				{% endif %}

				{% include hustle-optin/elements/form.html %}

			</div>

			{% if site.data.optin.content.nsa == true %}
				<div class="hustle-layout-footer">

					<p><a href="/">Never see this message again</a></p>

				</div>
			{% endif %}

		</div>

	</div>

</div>