.ui-datepicker {

	&.hustle-calendar {
		width: auto;
		z-index: #{map-get($module, z-index) + 1} !important;
		margin: 0;
		padding: 1px 0;
		border: 0;
		border-radius: 0;
		background-color: transparent;

		&, * {
			box-sizing: border-box;
			@extend %hui-text-reset;
		}

		&:before {
			content: " ";
			display: block;
			position: absolute;
			top: 1px;
			right: 0;
			bottom: 1px;
			left: 0;
			z-index: -1;
		}

		.ui-datepicker-header {
			display: block;
			padding: #{map-get($gutter, small) + 5px} map-get($gutter, small);

			.ui-corner-all {
				width: map-get($field-calendar, arrows-size);
				height: map-get($field-calendar, arrows-size);
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				top: #{map-get($gutter, small) + 5px};
				font-size: map-get($field-calendar, arrows-icon);
				transition: map-get($transition, ease);

				@include icon(before, chevron-down);

				.ui-icon {
					@extend %hui-screen-reader;
				}

				&.ui-datepicker-prev {
					left: map-get($gutter, small);
					right: unset;

					&:before {
						transform: rotate(90deg);
					}
				}

				&.ui-datepicker-next {
					left: unset;
					right: map-get($gutter, small);

					&:before {
						transform: rotate(-90deg);
					}
				}
			}

			.ui-datepicker-title {
				display: block;
				padding: 0 map-get($field-calendar, arrows-size);
				font: 600 #{map-get($field-calendar, font-size)}/#{map-get($field-calendar, arrows-size)} map-get($font, default);
				letter-spacing: 0.14px;
				text-align: center;
			}

			+ .ui-datepicker-calendar {
				padding-top: 0;
			}
		}

		.ui-datepicker-calendar {
			width: auto;
			table-layout: fixed;
			margin: 0;
			padding: 0;
			border: 0;
			border-spacing: 0;
			border-collapse: collapse;
			font-family: map-get($font, default);

			thead,
			tbody {

				tr {
					margin: 0;
					padding: 0;
					border: 0;

					th, td {
						margin: 0;
						padding: 5px;
						border: 0;
						text-align: center;

						a, span {
							width: map-get($field-calendar, cell-size);
							display: block;
							padding: 2px;
							border: 0;
							border-radius: #{map-get($field-calendar, cell-size) * 2};
						}

						a {
							text-decoration: none;
							transition: map-get($transition, ease);

							&,
							&:hover,
							&:active,
							&:visited {
								outline: none;
								box-shadow: none;
								text-decoration: none;
							}

							&,
							&:visited {
								font-weight: 400;
							}

							&:hover,
							&:active {
								font-weight: 600;
							}
						}

						&:first-child {
							padding-left: #{map-get($gutter, small) + 5px};
						}

						&:last-child {
							padding-right: #{map-get($gutter, small) + 5px};
						}

						&.ui-datepicker-unselectable {
							cursor: not-allowed;
						}
					}
				}
			}

			thead {

				tr {

					th {
						font-size: 12px;
						line-height: #{map-get($field-calendar, cell-size) - 4px};
						font-weight: 600;

						span {
							display: block;
						}
					}
				}
			}

			tbody {

				tr {

					td {
						font-size: 13px;
						line-height: #{map-get($field-calendar, cell-size) - 4px};
					}
				}
			}

			&:last-child {

				thead:last-child,
				tbody:last-child {

					tr:last-child {

						th, td {
							padding-bottom: #{map-get($gutter, small) + 5px};
						}
					}
				}
			}

			+ .ui-datepicker-buttonpane {
				padding-top: 8px;
			}
		}

		.ui-datepicker-buttonpane {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			margin: 0;
			padding: #{map-get($gutter, small) + 5px};
			border: 0;

			button {
				cursor: pointer;
				display: block;
				flex: 0 0 auto;
				margin: 0;
				border: 0;
				border-radius: 0;
				font-weight: bold;
				font-family: map-get($font, default);
				text-align: center;

				&,
				&:hover,
				&:active {
					outline: none;
					box-shadow: none;
				}

				+ button {
					margin-left: map-get($gutter, default);
				}
			}

			.ui-priority-primary {
				min-width: 66px;
				padding: 3px 5px;
				font-size: 13px;
				line-height: 24px;
			}

			.ui-priority-secondary {
				padding: 0;
				font-size: 14px;
				line-height: 20px;
			}
		}
	}
}