@include hui-class(null, optin, null, false) {

	.hustle-checkbox {
		display: flex;
		vertical-align: middle;
		margin: 0 0 map-get($gutter, small);
		padding: 0;
		border: 0;
		position: relative;

		input {
			@extend %hui-screen-reader;

			&:checked {

				+ span[aria-hidden] {

					&:before {
						@include opacity(1);
					}
				}
			}
		}

		span[aria-hidden] {
			width: map-get($field-radio, size);
			height: map-get($field-radio, size);
			cursor: pointer;
			display: block;
			flex: 0 0 auto;
			position: relative;
			margin: 0;
			padding: 0;
			font-size: map-get($field-radio, icon-size);
			text-align: center;
			transition: map-get($transition, ease);

			@include icon(before, check) {
				width: 100%;
				@include opacity(0);
				display: block;
				position: absolute;
				top: 50%;
				left: 0;
				color: inherit;
				transform: translateY(-50%);
			}
		}

		span:not([aria-hidden]) {
			display: block;
			flex: 1 1 auto;
			padding: 0 0 0 10px;

			a {

				&,
				&:hover,
				&:focus,
				&:active {
					border-width: 0;
					outline: none;
					box-shadow: none;
					text-decoration: none;
				}
			}

			@include support(ie) {
				flex: 1;
			}
		}

		&[for] {
			cursor: pointer;
		}

		&:last-child {
			margin: 0;
		}

		&.hustle-gdpr {
			display: inline-flex;
			margin-top: map-get($gutter, small);
			margin-bottom: 0;

			@include support(ie) {
				display: flex;
			}
		}
	}

	.hustle-optin:not(.hustle-size--small) {

		.hustle-checkbox {

			&.hustle-gdpr {

				@include media(min-width, sm) {
					margin-top: map-get($gutter, default);
					margin-bottom: 0;
				}
			}
		}

		.hustle-checkbox-inline {

			&:last-child {

				@include media(min-width, sm) {
					margin-right: 0;
				}
			}

			@include media(min-width, sm) {
				display: inline-flex;
				margin-right: map-get($gutter, default);
				margin-bottom: 0;
				padding-bottom: 5px;
			}
		}
	}
}

@include hui-class(null, optin, null, false, false, true) {
	.hustle-checkbox {

		span:not([aria-hidden]) {
			padding: 0 10px 0 0;
		}
	}
}