@use "sass:map";

@include hui-class(null, optin info, null, false) {

	.hustle-layout {

		.hustle-error-message {
			margin: map.get($gutter, small) 0 0;
			padding: map.get($gutter, small) map.get($gutter, default);
			border: 0;

			p {
				margin: 0;
				padding: 0;
				border: 0;
			}
		}
	}
}