@include hui-class(null, null, null, false) {

	.hustle-field {

		.hustle-input {
			width: map-get($field-size, width);
			min-width: unset; // Prevent themes or other plugins from overwritting.
			max-width: unset; // Prevent themes or other plugins from overwritting.
			display: block;
			background-image: unset;
			transition: map-get($transition, ease);

			&,
			&:hover,
			&:focus {
				outline: none;
				box-shadow: none;
			}
		}

		.hustle-input-label {
			width: map-get($field-size, width);
			user-select: none;
			pointer-events: none;
			display: flex;
			position: absolute;
			top: 0;
			left: 0;

			[class*="hustle-icon-"] {
				width: map-get($field-input, icon-width);
				height: map-get($field-input, icon-width);
				display: flex;
				flex: 0 0 map-get($field-input, icon-width);
				flex-direction: column;
				justify-content: center;
				font-size: map-get($field-input, icon-size);
				text-align: center;
				transition: map-get($transition, ease);

				&:before {
					display: block;
				}

				+ span {
					margin-left: 5px;
				}
			}

			span:not([class*="hustle-icon-"]) {
				display: block;
				flex: 1 1 auto;
				@extend %hui-text-truncate;
				transition: map-get($transition, ease);
			}
		}

		&.hustle-field-icon--animated {

			.hustle-input {

				&:focus {

					+ .hustle-input-label {

						[class*="hustle-icon-"] {
							opacity: 0;
							transform: translateX(-#{map-get($field-input, icon-width)});
							transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
						}
					}
				}
			}
		}

		// STATUS: Filled
		&.hustle-field-filled {

			.hustle-input-label {

				span:not([class*="hustle-icon-"]) {
					opacity: 0;
				}
			}
		}
	}
}