@include hui-class(null, null, null, false) {

	.hustle-field {

		.hustle-input,
		.hustle-input-label {
			font: 400 #{map-get($field-input, font-size)}/#{map-get($field-input, line-height)} map-get($font, default);
		}

		.hustle-input {
			width: map-get($field-size, width);
			min-width: unset; // Prevent themes or other plugins from overwritting
			max-width: unset; // Prevent themes or other plugins from overwritting
			height: map-get($field-size, height);
			display: block;
			margin: 0;
			padding: #{(map-get($field-size, height) - map-get($field-input, line-height)) / 2} map-get($field-input, padding);
			border: 0;
			border-radius: 0;
			background-image: unset;
			transition: map-get($transition, ease);

			&,
			&:hover,
			&:focus {
				outline: none;
				box-shadow: none;
			}

			&:focus {

				+ .hustle-input-label {

					span {
						opacity: 0;
						transform: translateX(map-get($field-input, icon-width));
						transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
					}
				}
			}
		}

		.hustle-input-label {
			width: map-get($field-size, width);
			user-select: none;
			pointer-events: none;
			display: flex;
			position: absolute;
			top: 50%;
			left: 0;
			padding: 0 map-get($field-input, padding);
			transform: translateY(-50%);

			[class*="hustle-icon-"] {
				width: map-get($field-input, icon-width);
				height: map-get($field-input, icon-width);
				display: flex;
				flex: 0 0 map-get($field-input, icon-width);
				flex-direction: column;
				justify-content: center;
				font-size: map-get($field-input, icon-size);
				text-align: center;
				transition: map-get($transition, ease);

				&:before {
					display: block;
				}

				+ span {
					margin-left: 5px;
				}
			}

			span {
				display: block;
				flex: 1 1 auto;
				@extend %hui-text-truncate;
				transition: map-get($transition, ease);
			}
		}

		&.hustle-field-icon--static,
		&.hustle-field-icon--animated {

			.hustle-input {
				padding-left: #{map-get($field-input, padding) + map-get($field-input, icon-width) + 5px};
			}
		}

		&.hustle-field-icon--static {
			.hustle-input {
				+ .hustle-input-label {
					span[class*="hustle-icon-"] {
						transition: none;
					}
				}
				&:focus,
				&:hover {
					+ .hustle-input-label {
						span[class*="hustle-icon-"] {
							opacity: 1;
							transform: none;
							transition: none;
						}
					}
				}
			}
		}

		&.hustle-field-icon--animated {

			.hustle-input {

				&:focus {

					+ .hustle-input-label {

						[class*="hustle-icon-"] {
							opacity: 0;
							transform: translateX(-#{map-get($field-input, icon-width)});
							transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
						}
					}
				}
			}
		}

		// STATUS: Filled
		&.hustle-field-filled {

			.hustle-input-label {

				span {
					opacity: 0;
				}
			}
		}
	}
}