@use "sass:map";

@include hui-class(null, optin, null, false) {

	.hustle-radio {
		display: flex;
		vertical-align: middle;
		margin: 0 0 map.get($gutter, small);
		padding: 0;
		border: 0;

		input {
			@extend %hui-screen-reader;

			&:checked {

				+ span[aria-hidden] {

					&:before {
						@include opacity(1);
					}
				}
			}
		}

		span[aria-hidden] {
			width: map.get($field-radio, size);
			height: map.get($field-radio, size);
			cursor: pointer;
			display: block;
			flex: 0 0 map.get($field-radio, size);
			position: relative;
			margin: 0;
			padding: 0;
			border-radius: 50%;
			font-size: map.get($field-radio, icon-size);
			text-align: center;
			transition: map.get($transition, ease);

			&:before {
				content: " ";
				width: 10px;
				height: 10px;
				@include opacity(0);
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				border-radius: 100%;
				transform: translate(-50%, -50%);
			}
		}

		span:not([aria-hidden]) {
			flex: 1 1 auto;
			margin: 0 0 0 10px;
		}

		&[for] {
			cursor: pointer;
		}

		&:last-child {
			margin: 0;
		}
	}

	.hustle-optin:not(.hustle-size--small) {

		.hustle-radio-inline {

			&:last-child {

				@include media(min-width, sm) {
					margin-right: 0;
				}
			}

			@include media(min-width, sm) {
				display: inline-flex;
				margin-right: map.get($gutter, default);
				margin-bottom: 0;
				padding-bottom: 5px;
			}
		}
	}
}

// rtl mode
@include hui-class(null, optin, null, false, false, true) {
	.hustle-radio {

		span:not([aria-hidden]) {
			margin: 0 10px 0 0;
		}
	}
}