@use "sass:map";

@include hui-class(null, optin, null, false) {

	.hustle-recaptcha {
		margin: map.get($gutter, small) 0 0;

		&.hustle-recaptcha-nobadge {
			height: 0 !important;
			@include opacity(0);
			visibility: hidden !important;
			margin: 0 !important;
			padding: 0 !important;
			border: 0 !important;
		}

		&[data-size="normal"] {
			width: 302px;
			height: 76px;
			transform: scale(0.7);
			transform-style: preserve-3d;
			transform-origin: left;
		}

		&[data-size="compact"] {
			width: 156px;
			height: 136px;
		}

		&:first-child {
			margin-top: 0;
		}

		&-copy {
			display: block;

			&, p {

				b, strong {
					font-weight: 700;
				}

				a {
					transition: map.get($transition, ease);

					&,
					&:focus,
					&:hover,
					&:active,
					&:visited {
						border: 0;
						outline: none;
						box-shadow: none;
						font-weight: 700;
						text-decoration: none;
					}
				}
			}
		}
	}
}

@include hui-class(null, optin, null, true) {

	.hustle-recaptcha {

		&:first-child {

			@include media(min-width, sm) {
				margin-top: 0;
			}
		}

		@include media(min-width, sm) {
			margin-top: map.get($gutter, default);
		}
	}

	.hustle-recaptcha {

		&[data-size="normal"] {

			@include media(min-width, sm) {
				transform: unset;
				transform-style: unset;
				transform-origin: unset;
			}
		}
	}
}