@include hui-class(null, optin, null, false) {

	.hustle-timepicker {
		overflow: hidden;
		display: none;
		margin: 0;
		padding: 1px 0;

		* {
			box-sizing: border-box;
			@extend %hui-text-reset;
		}

		.ui-timepicker {
			max-height: map-get($field-timepicker, height);
			@include opacity(1);
			display: block;
			margin: 0;
			padding: map-get($gutter, small) 0;
			box-sizing: content-box;
			text-align: center;
			list-style: none outside none;
			transition: map-get($transition, ease);

			.ui-timepicker-viewport {
				height: map-get($field-timepicker, height);
				overflow: auto;
				overflow-x: hidden; // IE
				display: block;
				margin: 0;
				padding: 0;
				border: 0;
				box-sizing: content-box;

				.ui-menu-item {
					margin: 0;
					padding: 0;
					border: 0;
					font: 400 #{map-get($field-timepicker, font-size)}/#{map-get($field-timepicker, line-height)} map-get($font, default);
					letter-spacing: 0;
				}

				a {
					cursor: pointer;
					display: block;
					margin: 0;
					padding: 0 map-get($gutter, small);
					border: 0;
					transition: map-get($transition, ease);

					&,
					&:hover,
					&:active,
					&:visited {
						outline: none;
						box-shadow: none;
						text-decoration: none;
					}

					&,
					&:visited {
						font-weight: 400;
					}

					&:hover,
					&:active {
						font-weight: 600;
					}
				}
			}
		}

		&.hustle-show {
			display: block;

			.ui-timepicker {
				@include opacity(1);
			}
		}
	}
}