@include hui-class(float, null, null, false) {
	pointer-events: none;
	display: none;
	margin: 0;
	padding: 0;
	border: 0;

	.hustle-float-content {

		* {
			pointer-events: all;
		}
	}

	// MODULE: Mobiles
	&[data-mobiles="false"].hustle-displaying-in-small {
		display: none !important;
		visibility: hidden !important;
	}

	// MODULE: Desktop
	&[data-desktop="false"].hustle-displaying-in-large {
		display: none !important;
		visibility: hidden !important;
	}
}