$float-selector: (
	desktop: '.hustle-displaying-in-large',
	mobiles: '.hustle-displaying-in-small'
);

@include hui-class(float, null, null, false) {

	@each $screen, $class in $float-selector {

		$float_gutter: map-get($gutter, default);

		@if $screen == 'mobiles' {
			$float_gutter: map-get($gutter, small);
		}

		&[data-#{$screen}="true"][data-#{$screen}-offset="selector"]#{$class} {

			// HORIZONTAL: Left
			&[data-#{$screen}-positionX="left"] {

				.hustle-float-content {

					&.hustle-animate-in {
						@include opacity(1);
						animation-name: slideInLeft;
					}
				}
			}

			// HORIZONTAL: Right
			&[data-#{$screen}-positionX="right"] {

				.hustle-float-content {

					&.hustle-animate-in {
						@include opacity(1);
						animation-name: slideInRight;
					}
				}
			}

			// HORIZONTAL: Center
			&[data-#{$screen}-positionX="center"] {
				@if $screen != 'mobiles' {
					right: 0;
					left: 0;
				}


				.hustle-social {

					&[data-grid-#{$screen}="inline"] ul {
						width: auto !important;
					}
				}

				// VERTICAL: Top
				&[data-#{$screen}-positionY="top"] {

					.hustle-float-content {

						&.hustle-animate-in {
							@include opacity(1);
							animation-name: slideInDown;
						}
					}
				}

				// VERTICAL: Bottom
				&[data-#{$screen}-positionY="bottom"] {

					.hustle-float-content {

						&.hustle-animate-in {
							@include opacity(1);
							animation-name: slideInUp;
						}
					}
				}

				justify-content: center;
				@if $screen == 'mobiles' {
					right: 0;
					left: 0;
				}
			}

			// Show module
			&.hustle-show {
				display: flex;
			}

			position: absolute;
		}
	}
}

@each $screen, $class in $float-selector {

	*[data-#{$screen}-parent] #{$class} {
		position: relative !important;
	}
}