@use "sass:map";

$float-screen: (
	desktop: '.hustle-displaying-in-large',
	mobiles: '.hustle-displaying-in-small'
);

@include hui-class(float, null, null, false) {

	@each $screen, $class in $float-screen {

		$float_gutter: map.get($gutter, default);

		@if $screen == 'mobiles' {
			$float_gutter: map.get($gutter, small);
		}

		&[data-#{$screen}="true"][data-#{$screen}-offset="screen"]#{$class} {

			.hustle-float-content {
				width: auto;
				max-width: 100%;
				height: auto;
				max-height: 100%;
				display: inline-flex;
				flex: 0 0 auto;
				@include opacity(0);
				animation-duration: 0.5s;
				animation-fill-mode: both;
				transform-origin: center;
				transform-style: preserve-3d;
			}

			// VERTICAL: Top
			&[data-#{$screen}-positionY="top"] {
				align-items: flex-start;
			}

			// VERTICAL: Bottom
			&[data-#{$screen}-positionY="bottom"] {
				align-items: flex-end;
			}

			// HORIZONTAL: Left
			&[data-#{$screen}-positionX="left"] {

				.hustle-float-content {

					&.hustle-animate-in {
						@include opacity(1);
						animation-name: slideInLeft;
					}
				}

				.hustle-social {

					&[data-grid-#{$screen}="stacked"] ul {
						overflow: auto;
					}
				}

				// VERTICAL: Top
				&[data-#{$screen}-positionY="top"] {
					padding-bottom: $float_gutter;
				}

				// VERTICAL: Bottom
				&[data-#{$screen}-positionY="bottom"] {
					padding-top: $float_gutter;
				}

				justify-content: flex-start;
			}

			// HORIZONTAL: Right
			&[data-#{$screen}-positionX="right"] {

				.hustle-float-content {

					&.hustle-animate-in {
						@include opacity(1);
						animation-name: slideInRight;
					}
				}

				.hustle-social {

					&[data-grid-#{$screen}="stacked"] ul {
						overflow: auto;
					}
				}

				// VERTICAL: Top
				&[data-#{$screen}-positionY="top"] {
					padding-bottom: $float_gutter;
				}

				// VERTICAL: Bottom
				&[data-#{$screen}-positionY="bottom"] {
					padding-top: $float_gutter;
				}

				justify-content: flex-end;
			}

			// HORIZONTAL: Center
			&[data-#{$screen}-positionX="center"] {

				.hustle-social {

					&[data-grid-#{$screen}="inline"] ul {
						width: auto !important;
					}
				}

				.hustle-float-content {
					padding: 0 $float_gutter;
				}

				// VERTICAL: Top
				&[data-#{$screen}-positionY="top"] {

					.hustle-float-content {

						&.hustle-animate-in {
							@include opacity(1);
							animation-name: slideInDown;
						}
					}
				}

				// VERTICAL: Bottom
				&[data-#{$screen}-positionY="bottom"] {

					.hustle-float-content {

						&.hustle-animate-in {
							@include opacity(1);
							animation-name: slideInUp;
						}
					}
				}

				justify-content: center;
			}

			// Show module
			&.hustle-show {
				display: flex;
			}

			max-width: 100%;
			max-height: 100vh;
			position: fixed;
			z-index: 99999;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}
}

// ============================================================
// WordPress
//
// Add proper margins when viewing social sharing on
// admin side or when admin bar is enabled on front.
// Margins will prevent social share from hiding the
// top and side bars.
@each $screen, $class in $float-screen {

	$top-bar: 32px;

	@if $screen == 'mobiles' {
		$top-bar: 46px;
	}

	body.admin-bar {

		@include hui-class(float, null, null, false) {

			@each $screen, $class in $float-screen {

				&[data-#{$screen}="true"][data-#{$screen}-offset="screen"]#{$class} {
					margin-top: $top-bar;
				}
			}
		}
	}
}