$float-selector: (
	desktop: 'min-width',
	mobiles: 'max-width'
);

@include hui-class(float, null, null, false) {

	@each $screen, $breakpoint in $float-selector {

		$float_gutter: map-get($gutter, default);

		@if $screen == 'mobiles' {
			$float_gutter: map-get($gutter, small);
		}

		&[data-#{$screen}="true"][data-#{$screen}-offset="selector"] {

			// HORIZONTAL: Left
			&[data-#{$screen}-positionX="left"] {

				.hustle-float-content {

					&.hustle-animate-in {

						@include media($breakpoint, sm) {
							@include opacity(1);
							animation-name: slideInLeft;
						}
					}
				}
			}

			// HORIZONTAL: Right
			&[data-#{$screen}-positionX="right"] {

				.hustle-float-content {

					&.hustle-animate-in {

						@include media($breakpoint, sm) {
							@include opacity(1);
							animation-name: slideInRight;
						}
					}
				}
			}

			// HORIZONTAL: Center
			&[data-#{$screen}-positionX="center"] {
				@if $screen != 'mobiles' {
					right: 0;
					left: 0;
				}


				.hustle-social {

					&[data-grid-#{$screen}="inline"] ul {

						@include media($breakpoint, sm) {
							width: auto !important;
						}
					}
				}

				// VERTICAL: Top
				&[data-#{$screen}-positionY="top"] {

					.hustle-float-content {

						&.hustle-animate-in {

							@include media($breakpoint, sm) {
								@include opacity(1);
								animation-name: slideInDown;
							}
						}
					}
				}

				// VERTICAL: Bottom
				&[data-#{$screen}-positionY="bottom"] {

					.hustle-float-content {

						&.hustle-animate-in {

							@include media($breakpoint, sm) {
								@include opacity(1);
								animation-name: slideInUp;
							}
						}
					}
				}

				@include media($breakpoint, sm) {
					justify-content: center;
					@if $screen == 'mobiles' {
						right: 0;
						left: 0;
					}
				}
			}

			// Show module
			&.hustle-show {

				@include media($breakpoint, sm) {
					display: flex;
				}
			}

			@include media($breakpoint, sm) {
				position: absolute;
			}
		}
	}
}

@each $screen, $breakpoint in $float-selector {

	*[data-#{$screen}-parent] {

		@include media($breakpoint, sm) {
			position: relative !important;
		}
	}
}