.hustle-info {

	.hustle-layout {

		// ELEMENT: GDPR
		.hustle-checkbox {

			span[aria-hidden] {
				background-color: #FFFFFF;
				color: #38C5B5;
			}

			span:not([aria-hidden]) {
				color: #FFFFFF;
			}
		}

		// ELEMENT: Button
		.hustle-button {
			border-width: 0;
			border-style: none;
			border-color: rgba(0,0,0,0);
			background-color: rgba(56,197,181,1);
			color: rgba(255,255,255,1);
		}

		// ELEMENT: Header
		.hustle-layout-header {

			+ .hustle-layout-content {
				border-top: 1px solid #2E3941;
			}
		}

		// ELEMENT: Image
		.hustle-image {
			background-color: #2E3941;
		}

		// ELEMENT: Content
		.hustle-content {

			.hustle-group-content {

				&, * {
					color: #ADB5B7;
				}
			}
		}

		// ELEMENT: Footer
		.hustle-layout-footer {
			background-color: #2E3941;
		}
	}

	&--default,
	&--compact {

		.hustle-layout {
			background-color: #38454E;

			// ELEMENT: Title
			.hustle-title {
				color: #FFFFFF;
			}

			// ELEMENT: Subtitle
			.hustle-subtitle {
				color: #FFFFFF;
			}
		}
	}

	&--stacked {

		.hustle-layout {

			.hustle-layout-header {

				// ELEMENT: Title
				.hustle-title {
					color: #38454E;
				}

				// ELEMENT: Subtitle
				.hustle-subtitle {
					color: #38454E;
				}
			}

			.hustle-layout-body {
				background-color: #38454E;
			}
		}
	}
}