.ui-datepicker {

	&.hustle-calendar {
		width: auto;
		margin: 0;
		padding: 2px 0;
		border: 0;
		border-radius: 0;
		background-color: transparent;

		&:before {
			content: " ";
			display: block;
			position: absolute;
			top: 2px;
			right: 0;
			bottom: 2px;
			left: 0;
			z-index: -1;
		}

		.ui-datepicker-header,
		.ui-datepicker-calendar,
		.ui-datepicker-buttonpane {
			padding: $hui-gutter-sm;
		}

		.ui-datepicker-header {

			+ .ui-datepicker-calendar {
				padding-top: 0;
			}
		}

		.ui-datepicker-calendar {
			table-layout: fixed;
			border-spacing: 0;
			border-collapse: collapse;
			font-family: $hui-font;

			thead,
			tbody {

				tr {
					padding: 0;

					th, td {
						padding: 2px;
						text-align: center;

						a, span {
							width: 30px;
							display: block;
							padding: 5px 2px;
						}

						a {
							font-weight: 600;
							text-decoration: none;
							transition: $hui-transition--ease;
						}

						&.ui-datepicker-unselectable {
							pointer-events: none;
						}

						&.ui-state-disabled {
							@include opacity(0.5);
							cursor: not-allowed;
						}
					}
				}
			}

			thead {

				tr {

					th {
						font-size: 11px;
						line-height: 20px;
						text-transform: uppercase;

						span {
							display: block;
						}
					}
				}
			}

			tbody {

				tr {

					td {
						font-size: 13px;
						line-height: 20px;
					}
				}
			}

			+ .ui-datepicker-buttonpane {
				padding-top: 0;
			}
		}

		.ui-datepicker-buttonpane {
			display: flex;
			justify-content: space-between;

			button {
				display: block;
				flex: 0 0 auto;
				margin: 0;

				+ button {
					margin-left: $hui-gutter-sm;
				}
			}
		}
	}
}