@include class-global() {

	.hustle-checkbox {
		display: flex;
		vertical-align: middle;
		margin: 0 0 $hui-gutter-sm;
		padding: 0;
		border: 0;

		input {
			@extend %hui-screen-reader;

			&:checked {

				+ span[aria-hidden] {

					&:before {
						@include opacity(1);
					}
				}
			}
		}

		span[aria-hidden] {
			width: $hui-checkbox--size;
			height: $hui-checkbox--size;
			cursor: pointer;
			display: block;
			flex: 0 0 $hui-checkbox--size;
			position: relative;
			margin: 0;
			padding: 0;
			border-width: $hui-checkbox--border-width;
			border-style: $hui-checkbox--border-style;
			border-color: transparent;
			font-size: $hui-checkbox--icon-size;
			text-align: center;
			transition: $hui-transition--ease;

			@include icon(before, check) {
				width: 100%;
				@include opacity(0);
				display: block;
				position: absolute;
				top: 50%;
				left: 0;
				color: inherit;
				transform: translateY(-50%);
			}
		}

		span:not([aria-hidden]) {
			flex: 1 1 auto;
			margin: 0 0 0 10px;
			font-size: $hui-checkbox--font-size;
			line-height: $hui-checkbox--line-height;
			font-family: $hui-font;
		}

		&[for] {
			cursor: pointer;
		}

		&:last-child {
			margin: 0;
		}

		&.hustle-gdpr {
			display: inline-flex;
			margin-top: $hui-gutter-sm;
		}
	}

	.hustle-optin:not(.hustle-size--small) {

		.hustle-checkbox {

			&.hustle-gdpr {

				@include media(min-width, sm) {
					margin-top: $hui-gutter;
				}
			}
		}

		.hustle-checkbox-inline {

			&:last-child {

				@include media(min-width, sm) {
					margin-right: 0;
				}
			}

			@include media(min-width, sm) {
				display: inline-flex;
				margin-right: $hui-gutter;
				margin-bottom: 0;
				padding-bottom: 5px;
			}
		}
	}
}