@include hustle-class() {

	&.hustle-popup {
		display: flex;
		align-items: center;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 100;
	
		.hustle-popup-mask {
			display: block;
			position: absolute;
			z-index: -1;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	
		.hustle-popup-content {
			max-width: 800px;
			margin: 0 auto;

			&.hustle-animate {
				opacity: 0;
				animation-duration: 1s;
				animation-fill-mode: both;
				transform-origin: center;
				transform-style: preserve-3d;
			}

			// ======================================== //
			// INTRO ANIMATIONS                         //
			// ======================================== //
			&.hustle-animate-in {

				// 1. Bounce In
				&--bounceIn {
					opacity: 1;
					animation-name: bounceIn;
					animation-duration: .75s;
				}

				// 2. Bounce In Up
				&--bounceInUp {
					opacity: 1;
					animation-name: bounceInUp;
				}

				// 3. Bounce In Down
				&--bounceInDown {
					opacity: 1;
					animation-name: bounceInDown;
				}

				// 4. Bounce In Left
				&--bounceInLeft {
					opacity: 1;
					animation-name: bounceInLeft;
				}

				// 5. Bounce In Right
				&--bounceInRight {
					opacity: 1;
					animation-name: bounceInRight;
				}
			}

			// ======================================== //
			// OUTRO ANIMATIONS                         //
			// ======================================== //
			&.hustle-animate-out {

				// 1. Bounce Out
				&--bounceOut {
					opacity: 0;
					animation-name: bounceOut;
					animation-duration: .75s;
				}

				// 2. Bounce Out Up
				&--bounceOutUp {
					opacity: 0;
					animation-name: bounceOutUp;
				}

				// 3. Bounce Out Down
				&--bounceOutDown {
					opacity: 0;
					animation-name: bounceOutDown;
				}

				// 4. Bounce Out Left
				&--bounceOutLeft {
					opacity: 0;
					animation-name: bounceOutLeft;
				}

				// 5. Bounce Out Right
				&--bounceOutRight {
					opacity: 0;
					animation-name: bounceOutRight;
				}
			}
		}
	}
}