.hustle-timepicker {
	overflow: hidden;
	margin: 0;
	padding: 2px 0;
	box-sizing: border-box;
	font: 400 13px/20px $hui-font;
	letter-spacing: 0;

	.ui-timepicker {
		height: 205px;
		display: block;
		margin: 0;
		padding: 0;
		box-sizing: content-box;
		text-align: center;
		list-style: none outside none;

		.ui-timepicker-viewport {
			height: 205px;
			overflow: auto;
			overflow-x: hidden; // IE
			display: block;
			margin: 0;
			padding: 0;
			box-sizing: content-box;
		}
	}

	&.ui-timepicker-standard {

		a {
			color: #222;
			display: block;
			margin: 0;
			padding: #{$hui-gutter-sm / 2} $hui-gutter-sm;
			border: 0;

			&,
			&:visited {
				text-decoration: none;
			}
		}

		.ui-state-hover {
			// overwrites .ui-state-hover
			background-color: #DADADA;
			border: 1px solid #999;
			font-weight: normal;
			color: #212121;
		}

		.ui-menu-item {
			margin: 0;
			padding: 0;
		}
	}
}

.ui-timepicker-hidden {
	// overwrites .ui-helper-hidden
	display: none;
}

.ui-timepicker-no-scrollbar .ui-timepicker {
	border: none;
}
