// =============================================
// VARIABLES MENU
//
// 1. BASIC VARIABLES
// 2. BREAKPOINTS
// 3. ICONS LIST
// 4. CLOSE BUTTON
// 5. REGULAR BUTTON
// 6. FORM INPUT
// 7. FORM SPACING
// =============================================

// =============================================
// 1. BASIC VARIABLES

$hui-version:            '4.0.0'                        !default;
$hui-font-path:          '../fonts/'                    !default;
$hui-image-path:         '../images/'                   !default;

$hui-font:               "Open Sans", sans-serif        !default;
$hui-font--alt:          "Georgia", Times, serif        !default;
$hui-font--icon:         "hustle-icons-font"            !default;

$hui-gutter:             20px                           !default;
$hui-gutter-sm:          10px                           !default;

$hui-spacing:            10px                           !default;
$hui-spacing-sm:         1px                            !default;

$hui-transition--ease:   0.2s ease                      !default;
$hui-transition--linear: 0.2s linear                    !default;

$hui-dialog-width:       800px                          !default;

$hui-fields-height:      36px                           !default;

$hui-image:              320px                          !default;
$hui-image-sm:           150px                          !default;

// =============================================
// 2. BREAKPOINTS

$hui-breakpoints: (
	sm: 783px,
	md: 961px,
	lg: 1201px
) !default;

// =============================================
// 3. ICONS LIST

$icons: (
	address:          "\61",
	check:            "\62",
	chevron-down:     "\63",
	datepicker:       "\64",
	email:            "\65",
	name:             "\66",
	number:           "\67",
	phone:            "\68",
	social-facebook:  "\69",
	social-google:    "\6a",
	social-houzz:     "\6b",
	social-instagram: "\6c",
	social-linkedin:  "\6d",
	social-pinterest: "\6e",
	social-reddit:    "\6f",
	social-telegram:  "\70",
	social-twitch:    "\71",
	social-twitter:   "\72",
	social-vkontakte: "\73",
	social-youtube:   "\74",
	text:             "\75",
	timepicker:       "\76",
	website:          "\77",
	close:            "\78",
	loader:           "\79",
) !default;

// =============================================
// 4. CLOSE BUTTON
$hui-close--size: 30px;
$hui-close--icon: 16px;

// =============================================
// 6. FORM INPUT

$hui-input--padding: 10px;

$hui-input--icon-width: 20px;
$hui-input--icon-size:  14px;

$hui-input--font-size: 13px;
$hui-input--line-height: 18px;

// =============================================
// 8. CHECKBOX
$hui-checkbox--size: 20px;
$hui-checkbox--icon-size: 12px;
$hui-checkbox--border-width: 1px;
$hui-checkbox--border-style: solid;
$hui-checkbox--font-size: 12px;
$hui-checkbox--line-height: $hui-checkbox--size;