@use "sass:map";
// =============================================
// VARIABLES MENU
//
// 1. BASIC VARIABLES
// 2. BREAKPOINTS
// 3. ICONS LIST
// 4. MODULE BASICS
// 5. FORM BASICS
// =============================================

// =============================================
// 1. BASIC VARIABLES

// Paths
$path: (
	fonts:  '../fonts/',
	images: '../images/',
) !default;

// Fonts
$font: (
	default: ("Open Sans", sans-serif),
	alt:     ("Georgia", Times, serif),
	icons:   ("hustle-icons-font"),
) !default;

// Gutter
$gutter: (
	default: 20px,
	small:   10px,
) !default;

// Transition
$transition: (
	ease: 0.2s ease,
	linear: 0.2s linear,
) !default;

// =============================================
// 2. BREAKPOINTS

$hui-breakpoints: (
	sm: 783px,
	md: 961px,
	lg: 1201px
) !default;

// =============================================
// 3. ICONS LIST

$icons: (
	address:          "\e900",
	email:            "\e901",
	name:             "\e902",
	number:           "\e903",
	phone:            "\e904",
	text:             "\e905",
	website:          "\e906",
	timepicker:       "\e907",
	datepicker:       "\e908",
	check:            "\e909",
	chevron-down:     "\e90a",
	social-facebook:  "\e90b",
	social-google:    "\e90c",
	social-houzz:     "\e90d",
	social-instagram: "\e90e",
	social-linkedin:  "\e90f",
	social-pinterest: "\e910",
	social-reddit:    "\e911",
	social-telegram:  "\e912",
	social-twitch:    "\e913",
	social-twitter:   "\e914",
	social-vkontakte: "\e915",
	social-youtube:   "\e916",
	close:            "\e917",
	loader:           "\e918",
	social-500px:     "\e919",
	social-whatsapp:  "\e91a",
	social-email:     "\e901",
) !default;

// =============================================
// 4. MODULE BASICS

// Module size and position
$module: (
	max-width: 800px,
	z-index:   999991,
) !default;

// Module image
$module-image: (
	default: 320px,
	small:   150px,
) !default;

// Module close
$module-close: (
	button-size: 30px,
	icon-size:   12px,
) !default;

// =============================================
// 5. FORM BASICS

// Fields size
$field-size: (
	width:  100%,
	height: 36px,
) !default;

// Fields spacing
$field-spacing: (
	joined:    1px,
	separated: 10px,
) !default;

// Input basics
$field-input: (
	padding:     10px,
	font-size:   13px,
	line-height: 18px,
	icon-width:  20px,
	icon-size:   12px,
) !default;

// Radio basics
$field-radio: (
	size:         20px,
	border-width: 2px,
	border-style: solid,
	icon-size:    10px,
	font-size:    12px,
) !default;

// Calendar basics
$field-calendar: (
	arrows-size: 30px,
	arrows-icon: 12px,
	font-size:   15px,
	cell-size:   30px,
) !default;

// Time picker basics
$field-timepicker: (
	height:      230px,
	font-size:   13px,
	line-height: 30px,
) !default;

// =============================================
// 6. SOCIAL SHARE MODULE BASICS

// Module basics
$social-module: (
	border-width: 1px,
	border-style: solid,
	font-size:    14px,
	line-height:  16px,
	icon-size:    30px,
) !default;

// Icons size
$social-icons-size: (
	default: 16px,
	small:   14px,
	large:   26px,
) !default;

// Icons colors (map)
$social-media-colors: (
	facebook: (
		default: #32599D,
		hover:   #32599D,
	),
	twitter: (
		default: #ffffff,
		hover:   #ffffff,
	),
	google: (
		default: #EF3D2C,
		hover:   #EF3D2C,
	),
	pinterest: (
		default: #DC0019,
		hover:   #DC0019,
	),
	reddit: (
		default: #FF4500,
		hover:   #FF4500,
	),
	linkedin: (
		default: #0078BA,
		hover:   #0078BA,
	),
	vkontakte: (
		default: #4A76A8,
		hover:   #4A76A8,
	),
	500px: (
		default: #000000,
		hover:   #000000,
	),
	houzz: (
		default: #4DBC15,
		hover:   #4DBC15,
	),
	instagram: (
		default: #EC0475,
		hover:   #EC0475,
	),
	twitch: (
		default: #4B367C,
		hover:   #4B367C,
	),
	youtube: (
		default: #FF0000,
		hover:   #FF0000,
	),
	telegram: (
		default: #00ACE5,
		hover:   #00ACE5,
	),
	whatsapp: (
		default: #00C73D,
		hover:   #00C73D,
	),
	email: (
		default: #BFB45A,
		hover:   #BFB45A,
	),
) !default;

// Icons colors (function)
@function social-media($social-media, $state: 'default') {
	@return map.get( map.get($social-media-colors, $social-media), $state );
}