// =============================================
// VARIABLES MENU
//
// 1. BASIC VARIABLES
// 2. BREAKPOINTS
// 3. ICONS LIST
// 4. MODULE BASICS
// 5. FORM BASICS
// 4. CLOSE BUTTON
// 5. REGULAR BUTTON
// 6. FORM INPUT
// 7. FORM SPACING
// 8. RADIO & CHECKBOX
// =============================================

// =============================================
// 1. BASIC VARIABLES

// Paths
$path: (
	fonts:  '../fonts/',
	images: '../images/',
) !default;

// Fonts
$font: (
	default: ("Open Sans", sans-serif),
	alt:     ("Georgia", Times, serif),
	icons:   ("hustle-icons-font"),
) !default;

// Gutter
$gutter: (
	default: 20px,
	small:   10px,
) !default;

// Transition
$transition: (
	ease: 0.2s ease,
	linear: 0.2s linear,
) !default;

// =============================================
// 2. BREAKPOINTS

$hui-breakpoints: (
	sm: 783px,
	md: 961px,
	lg: 1201px
) !default;

// =============================================
// 3. ICONS LIST

$icons: (
	address:          "\e900",
	email:            "\e901",
	name:             "\e902",
	number:           "\e903",
	phone:            "\e904",
	text:             "\e905",
	website:          "\e906",
	timepicker:       "\e907",
	datepicker:       "\e908",
	check:            "\e909",
	chevron-down:     "\e90a",
	social-facebook:  "\e90b",
	social-google:    "\e90c",
	social-houzz:     "\e90d",
	social-instagram: "\e90e",
	social-linkedin:  "\e90f",
	social-pinterest: "\e910",
	social-reddit:    "\e911",
	social-telegram:  "\e912",
	social-twitch:    "\e913",
	social-twitter:   "\e914",
	social-vkontakte: "\e915",
	social-youtube:   "\e916",
	close:            "\e917",
	loader:           "\e918",
) !default;

// =============================================
// 4. MODULE BASICS

// Module size and position
$module: (
	max-width: 800px,
	z-index:   999991,
) !default;

// Module image
$module-image: (
	default: 320px,
	small:   150px,
) !default;

// =============================================
// 5. FORM BASICS

// Fields size
$field-size: (
	width:  100%,
	height: 36px,
) !default;

// Fields spacing
$field-spacing: (
	joined:    1px,
	separated: 10px,
) !default;

// =============================================
// 4. CLOSE BUTTON
$hui-close--size: 30px !default;
$hui-close--icon: 12px !default;

// =============================================
// 6. FORM INPUT

$hui-input--padding: 10px     !default;

$hui-input--icon-width: 20px  !default;
$hui-input--icon-size:  12px  !default;

$hui-input--font-size: 13px   !default;
$hui-input--line-height: 18px !default;

// =============================================
// 8. RADIO & CHECKBOX

$hui-checkbox--size: 20px                       !default;
$hui-checkbox--icon-size: 10px                  !default;
$hui-checkbox--border-width: 2px                !default;
$hui-checkbox--border-style: solid              !default;
$hui-checkbox--font-size: 12px                  !default;
$hui-checkbox--line-height: $hui-checkbox--size !default;

// =============================================
// 9. CALENDAR

$hui-calendar-header--icon-width:        30px !default;
$hui-calendar-header--icon-height:       30px !default;
$hui-calendar-header--icon-size:         12px !default;

$hui-calendar-header--title-font-size:   15px !default;
$hui-calendar-header--title-line-height: 30px !default;

$hui-calendar-table--cell-width:         30px !default;

// =============================================
// 10. TIME PICKER

$hui-time-dropdown--height:      230px !default;
$hui-time-dropdown--font-size:   13px  !default;
$hui-time-dropdown--line-height: 30px  !default;

// =============================================
// 11. SOCIAL ICONS

$hui-social--border-width: 1px   !default;
$hui-social--border-style: solid !default;
$hui-social--font-size:    14px  !default;
$hui-social--line-height:  16px  !default;
$hui-social--icon: (
	size:    30px,
	icon:    16px,
	icon-sm: 14px,
	icon-lg: 26px
) !default;

$hui-social--colors: (
	facebook:  #32599D,
	twitter:   #1DA1F2,
	google:    #EF3D2C,
	pinterest: #DC0019,
	reddit:    #FF4500,
	linkedin:  #0078BA,
	vkontakte: #4A76A8,
	500px:     #000000,
	houzz:     #4DBC15,
	instagram: #EC0475,
	twitch:    #4B367C,
	youtube:   #FF0000,
	telegram:  #00ACE5
) !default;