@import "variables";
@import "animations";
@import "mixin-class";
@import "mixin-breakpoints";
@import "mixin-opacity";

@include hui-class(inline, null, null, false) {
	@include opacity(0);
	display: flex;
	align-items: center;
	margin: $hui-gutter-sm 0;

	.hustle-inline-content {
		width: 100%;
		min-width: 100%;
		margin: 0 auto;

		.hustle-button-close {
			user-select: none !important;
			visibility: hidden !important;
			display: none !important;
		}

		.hustle-layout {

			.hustle-layout-footer {
				user-select: none !important;
				visibility: hidden !important;
				display: none !important;
			}
		}

		&.hustle-animate {
			@include opacity(0);
			animation-duration: 1s;
			animation-fill-mode: both;
			transform-origin: center;
			transform-style: preserve-3d;
		}

		// ======================================== //
		// INTRO ANIMATIONS                         //
		// ======================================== //
		&.hustle-animate-in {

			// 1. Bounce In
			&--bounceIn {
				@include opacity(1);
				animation-name: bounceIn;
				animation-duration: .75s;
			}

			// 2. Bounce In Up
			&--bounceInUp {
				@include opacity(1);
				animation-name: bounceInUp;
			}

			// 3. Bounce In Down
			&--bounceInDown {
				@include opacity(1);
				animation-name: bounceInDown;
			}

			// 4. Bounce In Left
			&--bounceInLeft {
				@include opacity(1);
				animation-name: bounceInLeft;
			}

			// 5. Bounce In Right
			&--bounceInRight {
				@include opacity(1);
				animation-name: bounceInRight;
			}

			// 6. Fade In
			&--fadeIn {
				@include opacity(1);
				animation-name: fadeIn;
				animation-duration: 300ms;
			}

			// 7. Fade In Up
			&--fadeInUp {
				@include opacity(1);
				animation-name: fadeInUp;
			}

			// 8. Fade In Down
			&--fadeInDown {
				@include opacity(1);
				animation-name: fadeInDown;
			}

			// 9. Fade In Left
			&--fadeInLeft {
				@include opacity(1);
				animation-name: fadeInLeft;
			}

			// 10. Fade In Right
			&--fadeInRight {
				@include opacity(1);
				animation-name: fadeInRight;
			}

			// 11. Fade In Up (Big)
			&--fadeInUpBig {
				@include opacity(1);
				animation-name: fadeInUpBig;
			}

			// 12. Fade In Down (Big)
			&--fadeInDownBig {
				@include opacity(1);
				animation-name: fadeInDownBig;
			}

			// 13. Fade In Left (Big)
			&--fadeInLeftBig {
				@include opacity(1);
				animation-name: fadeInLeftBig;
			}

			// 14. Fade In Right (Big)
			&--fadeInRightBig {
				@include opacity(1);
				animation-name: fadeInRightBig;
			}

			// 15. Lightspeed In
			&--lightSpeedIn {
				@include opacity(1);
				animation-name: lightSpeedIn;
				animation-timing-function: ease-out;
			}

			// 16. Newspaper In
			&--newspaperIn {
				@include opacity(1);
				animation-name: newspaperIn;
				animation-duration: .5s;
				animation-timing-function: ease;
			}

			// 17. Roll In
			&--rollIn {
				@include opacity(1);
				animation-name: rollIn;
			}

			// 18. Rotate In
			&--rotateIn {
				@include opacity(1);
				animation-name: rotateIn;
			}

			// 19. Rotate In Up Left
			&--rotateInUpLeft {
				@include opacity(1);
				animation-name: rotateInUpLeft;
			}

			// 20. Rotate In Up Right
			&--rotateInUpRight {
				@include opacity(1);
				animation-name: rotateInUpRight;
			}

			// 21. Rotate In Down Left
			&--rotateInDownLeft {
				@include opacity(1);
				animation-name: rotateInDownLeft;
			}

			// 22. Rotate In Down Right
			&--rotateInDownRight {
				@include opacity(1);
				animation-name: rotateInDownRight;
			}

			// 23. Slide In Up
			&--slideInUp {
				@include opacity(1);
				animation-name: slideInUp;
			}

			// 24. Slide In Down
			&--slideInDown {
				@include opacity(1);
				animation-name: slideInDown;
			}

			// 25. Slide In Left
			&--slideInLeft {
				@include opacity(1);
				animation-name: slideInLeft;
			}

			// 26. Slide In Right
			&--slideInRight {
				@include opacity(1);
				animation-name: slideInRight;
			}

			// 27. Zoom In
			&--zoomIn {
				@include opacity(1);
				animation-name: zoomIn;
			}

			// 28. Zoom In Up
			&--zoomInUp {
				@include opacity(1);
				animation-name: zoomInUp;
			}

			// 29. Zoom In Down
			&--zoomInDown {
				@include opacity(1);
				animation-name: zoomInDown;
			}

			// 30. Zoom In Left
			&--zoomInLeft {
				@include opacity(1);
				animation-name: zoomInLeft;
			}

			// 31. Zoom In Right
			&--zoomInRight {
				@include opacity(1);
				animation-name: zoomInRight;
			}
		}
	}

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&.hustle-show {
		@include opacity(1);
	}
}

@include hui-class(inline, null, null, true) {

	&:first-child {

		@include media(min-width, sm) {
			margin-top: 0;
		}
	}

	&:last-child {

		@include media(min-width, sm) {
			margin-bottom: 0;
		}
	}

	@include media(min-width, sm) {
		margin: $hui-gutter 0;
	}
}