@import "variables";
@import "animations";

@import "mixins/main-class";
@import "mixins/breakpoints";
@import "mixins/browsers";
@import "mixins/opacity";

@include hui-class(slidein, null, null, false) {
	pointer-events: none;
	visibility: hidden; // display: none;
	position: fixed;
	align-items: center;
	justify-content: center;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: map-get($module, z-index);

	.hustle-slidein-content {
		width: 100%;
		max-width: map-get($module, max-width);
		overflow-y: auto;
		@include opacity(0);
		pointer-events: initial;
		position: relative;
		z-index: 1;
		animation-duration: 1s;
		animation-fill-mode: both;
		transform-origin: center;
		transform-style: preserve-3d;
	}

	.hustle-slidein-shadow {
		@include opacity(0);
		pointer-events: none;
		display: block;
		flex: 0 0 auto;
		position: absolute;
		z-index: 0;
		animation-duration: 1s;
		animation-fill-mode: both;
		transform-origin: center;
		transform-style: preserve-3d;
	}

	&.hustle-slidein-position {

		// 1. North
		&--north {
			align-items: flex-start;
			justify-content: center;

			.hustle-slidein-content,
			.hustle-slidein-shadow {

				&.hustle-animate-in {
					@include opacity(1);
					animation-name: slideInDown;
				}

				&.hustle-animate-out {
					@include opacity(1);
					animation-name: slideOutUp;
				}
			}

			.hustle-slidein-content {

				@include media(max-width, sm) {
					max-height: calc(100vh - #{map-get($gutter, small)});
				}

				@include media(min-width, sm) {
					max-height: calc(100vh - #{map-get($gutter, default)});
				}
			}

			@include media(max-width, sm) {
				padding: 0 map-get($gutter, small) map-get($gutter, small);
			}

			@include media(min-width, sm) {
				padding: 0 map-get($gutter, default) map-get($gutter, default);
			}
		}

		// 2. South
		&--south {
			align-items: flex-end;
			justify-content: center;

			.hustle-slidein-content,
			.hustle-slidein-shadow {

				&.hustle-animate-in {
					@include opacity(1);
					animation-name: slideInUp;
				}

				&.hustle-animate-out {
					@include opacity(1);
					animation-name: slideOutDown;
				}
			}

			.hustle-slidein-content {

				@include media(max-width, sm) {
					max-height: calc(100vh - #{map-get($gutter, small)});
				}

				@include media(min-width, sm) {
					max-height: calc(100vh - #{map-get($gutter, default)});
				}
			}

			@include media(max-width, sm) {
				padding: map-get($gutter, small) map-get($gutter, small) 0;
			}

			@include media(min-width, sm) {
				padding: map-get($gutter, default) map-get($gutter, default) 0;
			}
		}

		// 3. East
		&--east {
			justify-content: flex-end;

			.hustle-slidein-content,
			.hustle-slidein-shadow {

				&.hustle-animate-in {
					@include opacity(1);
					animation-name: slideInRight;
				}

				&.hustle-animate-out {
					@include opacity(1);
					animation-name: slideOutRight;
				}
			}

			.hustle-slidein-content {

				@include media(max-width, sm) {
					max-height: calc(100vh - #{map-get($gutter, small) * 2});
				}

				@include media(min-width, sm) {
					max-height: calc(100vh - #{map-get($gutter, default) * 2});
				}
			}

			@include media(max-width, sm) {
				padding-left: map-get($gutter, small);
			}

			@include media(min-width, sm) {
				padding-left: map-get($gutter, default);
			}
		}

		// 4. West
		&--west {
			align-items: center;
			justify-content: flex-start;

			.hustle-slidein-content,
			.hustle-slidein-shadow {

				&.hustle-animate-in {
					@include opacity(1);
					animation-name: slideInLeft;
				}

				&.hustle-animate-out {
					@include opacity(1);
					animation-name: slideOutLeft;
				}
			}

			.hustle-slidein-content {

				@include media(max-width, sm) {
					max-height: calc(100vh - #{map-get($gutter, small) * 2});
				}

				@include media(min-width, sm) {
					max-height: calc(100vh - #{map-get($gutter, default) * 2});
				}
			}

			@include media(max-width, sm) {
				padding-right: map-get($gutter, small);
			}

			@include media(min-width, sm) {
				padding-right: map-get($gutter, default);
			}
		}

		// 5. North East
		&--north-east {
			justify-content: flex-end;
			align-items: flex-start;

			.hustle-slidein-content,
			.hustle-slidein-shadow {

				&.hustle-animate-in {
					@include opacity(1);
					animation-name: slideInRight;
				}

				&.hustle-animate-out {
					@include opacity(1);
					animation-name: slideOutRight;
				}
			}

			.hustle-slidein-content {

				@include media(max-width, sm) {
					max-height: calc(100vh - #{map-get($gutter, small)});
				}

				@include media(min-width, sm) {
					max-height: calc(100vh - #{map-get($gutter, default)});
				}
			}

			@include media(max-width, sm) {
				padding-bottom: map-get($gutter, small);
				padding-left: map-get($gutter, small);
			}

			@include media(min-width, sm) {
				padding-bottom: map-get($gutter, default);
				padding-left: map-get($gutter, default);
			}
		}

		// 6. North West
		&--north-west {
			justify-content: flex-start;
			align-items: flex-start;

			.hustle-slidein-content,
			.hustle-slidein-shadow {

				&.hustle-animate-in {
					@include opacity(1);
					animation-name: slideInLeft;
				}

				&.hustle-animate-out {
					@include opacity(1);
					animation-name: slideOutLeft;
				}
			}

			.hustle-slidein-content {

				@include media(max-width, sm) {
					max-height: calc(100vh - #{map-get($gutter, small)});
				}

				@include media(min-width, sm) {
					max-height: calc(100vh - #{map-get($gutter, default)});
				}
			}

			@include media(max-width, sm) {
				padding-bottom: map-get($gutter, small);
				padding-right: map-get($gutter, small);
			}

			@include media(min-width, sm) {
				padding-bottom: map-get($gutter, small);
				padding-right: map-get($gutter, default);
			}
		}

		// 7. South East
		&--south-east {
			justify-content: flex-end;
			align-items: flex-end;

			.hustle-slidein-content,
			.hustle-slidein-shadow {

				&.hustle-animate-in {
					@include opacity(1);
					animation-name: slideInRight;
				}

				&.hustle-animate-out {
					@include opacity(1);
					animation-name: slideOutRight;
				}
			}

			.hustle-slidein-content {

				@include media(max-width, sm) {
					max-height: calc(100vh - #{map-get($gutter, small)});
				}

				@include media(min-width, sm) {
					max-height: calc(100vh - #{map-get($gutter, default)});
				}
			}

			@include media(max-width, sm) {
				padding-top: map-get($gutter, small);
				padding-left: map-get($gutter, small);
			}

			@include media(min-width, sm) {
				padding-top: map-get($gutter, default);
				padding-left: map-get($gutter, default);
			}
		}

		// 8. South West
		&--south-west {
			justify-content: flex-start;
			align-items: flex-end;

			.hustle-slidein-content,
			.hustle-slidein-shadow {

				&.hustle-animate-in {
					@include opacity(1);
					animation-name: slideInLeft;
				}

				&.hustle-animate-out {
					@include opacity(1);
					animation-name: slideOutLeft;
				}
			}

			.hustle-slidein-content {

				@include media(max-width, sm) {
					max-height: calc(100vh - #{map-get($gutter, small)});
				}

				@include media(min-width, sm) {
					max-height: calc(100vh - #{map-get($gutter, default)});
				}
			}

			@include media(max-width, sm) {
				padding-top: map-get($gutter, small);
				padding-right: map-get($gutter, small);
			}

			@include media(min-width, sm) {
				padding-top: map-get($gutter, default);
				padding-right: map-get($gutter, default);
			}
		}
	}

	&.hustle-show {
		display: flex;
		visibility: visible;
	}
}