@import "variables";

@import "helpers/icons";

@import "mixins/main-class";
@import "mixins/icon";

@at-root {

	@font-face {
		font-family: map-get($font, icons);
		font-weight: normal;
		font-style: normal;
		src: url('#{map-get($path, fonts)}hustle-icons-font.eot');
		src: local('hustle-icons-font'),
			 url('#{map-get($path, fonts)}hustle-icons-font.eot?#iefix') format('embedded-opentype'),
			 url('#{map-get($path, fonts)}hustle-icons-font.woff2') format('woff2'),
			 url('#{map-get($path, fonts)}hustle-icons-font.woff') format('woff'),
			 url('#{map-get($path, fonts)}hustle-icons-font.ttf') format('truetype'),
			 url('#{map-get($path, fonts)}hustle-icons-font.svg?#hustle-icons-font') format('svg');
	}
}

@include hui-class(null, null, null, false) {

	[class*="hustle-icon-"] {
		@include icon(both);
	}

	@each $name, $char in $icons {

		.hustle-icon-#{$name}:before {
			content: $char;
		}
	}
}