@import "variables";

@import "mixins/main-class";
@import "mixins/breakpoints";

@include hui-class(float, null, null, false) {
	pointer-events: none;
	margin: 0;
	padding: 0;
	border: 0;

	.hustle-float-content {

		* {
			pointer-events: all;
		}
	}

	// FLOAT: Screen
	&[data-float="screen"] {
		max-width: 100%;
		max-height: 100vh;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;

		.hustle-float-content {
			width: auto;
			max-width: 100%;
			height: auto;
			max-height: 100%;
			display: inline-flex;
			flex: 0 0 auto;
		}

		// POSITION: Desktop
		&[data-position-desktop="true"] {

			// VERTICAL: Top
			&[data-position-vertical-desktop="top"] {

				@include media(min-width, sm) {
					align-items: flex-start;
				}
			}

			// VERTICAL: Bottom
			&[data-position-vertical-desktop="bottom"] {

				@include media(min-width, sm) {
					align-items: flex-end;
				}
			}

			// HORIZONTAL: Left
			&[data-position-horizontal-desktop="left"] {

				.hustle-social {

					&[data-grid-desktop="stacked"] ul {

						@include media(min-width, sm) {
							flex-wrap: wrap;
						}
					}
				}

				// VERTICAL: Top
				&[data-position-vertical-desktop="top"] {

					@include media(min-width, sm) {
						padding-bottom: $hui-gutter;
					}
				}

				// VERTICAL: Bottom
				&[data-position-vertical-desktop="bottom"] {

					@include media(min-width, sm) {
						padding-top: $hui-gutter;
					}
				}

				@include media(min-width, sm) {
					justify-content: flex-start;
				}
			}

			// HORIZONTAL: Right
			&[data-position-horizontal-desktop="right"] {

				.hustle-social {

					&[data-grid-desktop="stacked"] ul {

						@include media(min-width, sm) {
							flex-wrap: wrap-reverse;
						}
					}
				}

				// VERTICAL: Top
				&[data-position-vertical-desktop="top"] {

					@include media(min-width, sm) {
						padding-bottom: $hui-gutter;
					}
				}

				// VERTICAL: Bottom
				&[data-position-vertical-desktop="bottom"] {

					@include media(min-width, sm) {
						padding-top: $hui-gutter;
					}
				}

				@include media(min-width, sm) {
					justify-content: flex-end;
				}
			}

			// HORIZONTAL: Center
			&[data-position-horizontal-desktop="center"] {

				@include media(min-width, sm) {
					justify-content: center;
				}
			}
		}

		// POSITION: Mobiles
		&[data-position-mobiles="true"] {

			// VERTICAL: Top
			&[data-position-vertical-mobiles="top"] {

				@include media(max-width, sm) {
					align-items: flex-start;
				}
			}

			// VERTICAL: Bottom
			&[data-position-vertical-mobiles="bottom"] {

				@include media(max-width, sm) {
					align-items: flex-end;
				}
			}

			// HORIZONTAL: Left
			&[data-position-horizontal-mobiles="left"] {

				.hustle-social {

					&[data-grid-mobiles="stacked"] ul {

						@include media(max-width, sm) {
							flex-wrap: wrap;
						}
					}
				}

				// VERTICAL: Top
				&[data-position-vertical-mobiles="top"] {

					@include media(max-width, sm) {
						padding-bottom: $hui-gutter-sm;
					}
				}

				// VERTICAL: Bottom
				&[data-position-vertical-mobiles="bottom"] {

					@include media(max-width, sm) {
						padding-top: $hui-gutter-sm;
					}
				}

				@include media(max-width, sm) {
					justify-content: flex-start;
				}
			}

			// HORIZONTAL: Right
			&[data-position-horizontal-mobiles="right"] {

				.hustle-social {

					&[data-grid-mobiles="stacked"] ul {

						@include media(max-width, sm) {
							flex-wrap: wrap-reverse;
						}
					}
				}

				// VERTICAL: Top
				&[data-position-vertical-mobiles="top"] {

					@include media(max-width, sm) {
						padding-bottom: $hui-gutter;
					}
				}

				// VERTICAL: Bottom
				&[data-position-vertical-mobiles="bottom"] {

					@include media(max-width, sm) {
						padding-top: $hui-gutter;
					}
				}

				@include media(max-width, sm) {
					justify-content: flex-end;
				}
			}

			// HORIZONTAL: Center
			&[data-position-horizontal-mobiles="center"] {

				@include media(max-width, sm) {
					justify-content: center;
				}
			}
		}
	}

	// FLOAT: Context
	&[data-float="context"] {
		// Request UX clarification:
		// Need more information on how this should be positioned.
	}

	// FLOAT: Selector
	&[data-float="selector"] {
		position: absolute;
	}

	// POSITION: Mobiles
	&[data-position-mobiles="false"] {

		@include media(max-width, sm) {
			display: none !important;
			visibility: hidden !important;
		}
	}

	// POSITION: Desktop
	&[data-position-desktop="false"] {

		@include media(min-width, sm) {
			display: none !important;
			visibility: hidden !important;
		}
	}
}

/*
@include hui-class(float, null, null, false) {

	&[data-float="screen"] {
		position: fixed;
		pointer-events: none;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: 0;
		padding: 0;
		border: 0;

		&[data-position-horizontal-desktop="left"],
		&[data-position-horizontal-desktop="right"] {

			.hustle-social {

				@include media(min-width, sm) {
					max-height: 100vh;
				}
			}

			@include media(min-width, sm) {
				display: flex;
			}
		}
	}

	&[data-position-horizontal-desktop="left"] {

		&[data-float="screen"] {

			.hustle-social {

				&[data-grid-desktop="stacked"] ul,
				&[data-grid-mobiles="stacked"] ul {

					@include media(min-width, sm) {
						flex-wrap: wrap;
					}
				}
			}

			@include media(min-width, sm) {
				justify-content: flex-start;
			}
		}
	}

	&[data-position-horizontal-desktop="right"] {

		&[data-float="screen"] {

			.hustle-social {

				&[data-grid-desktop="stacked"] ul,
				&[data-grid-mobiles="stacked"] ul {

					@include media(min-width, sm) {
						flex-wrap: wrap-reverse;
					}
				}
			}

			@include media(min-width, sm) {
				justify-content: flex-end;
			}
		}
	}

	&[data-position-horizontal-desktop="center"] {

		.hustle-float-content {

			@include media(min-width, sm) {
				max-width: 100%;
			}
		}

		.hustle-social {

			&[data-grid-desktop="inline"] {

				@include media(min-width, sm) {
					margin: 0 $hui-gutter;
				}
			}
		}

		&[data-position-vertical-desktop="top"] {

			@include media(min-width, sm) {
				justify-content: flex-start;
			}
		}

		&[data-position-vertical-desktop="bottom"] {

			@include media(min-width, sm) {
				justify-content: flex-end;
			}
		}

		@include media(min-width, sm) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	&[data-position-horizontal-mobiles="left"] {}

	&[data-position-horizontal-mobiles="right"] {}

	&[data-position-horizontal-mobiles="center"] {

		.hustle-float-content {

			@include media(max-width, sm) {
				max-width: 100%;
			}
		}

		.hustle-social {

			&[data-grid-mobiles="inline"] {

				@include media(max-width, sm) {
					margin: 0 $hui-gutter-sm;
				}
			}
		}

		&[data-position-vertical-mobiles="top"] {

			@include media(max-width, sm) {
				justify-content: flex-start;
			}
		}

		&[data-position-vertical-mobiles="bottom"] {

			@include media(max-width, sm) {
				justify-content: flex-end;
			}
		}

		@include media(max-width, sm) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
}
*/