@import "variables";
@import "animations";

@import "mixins/main-class";
@import "mixins/breakpoints";
@import "mixins/browsers";
@import "mixins/opacity";

@include hui-class(slidein, null, null, false) {
	width: 100%;
	height: 100%;
	min-height: 0;
	max-height: 100%;
	overflow: auto;
	visibility: hidden;
	pointer-events: none;
	user-select: auto;
	position: fixed;
	z-index: map-get($module, z-index);
	top: 0;
	left: 0;
	padding-top: map-get($module-close, button-size);

	.hustle-slidein-content {
		width: auto;
		max-width: 100%;
		min-height: 0;
		max-height: 100%;
		overflow: visible;
		pointer-events: visible;
		@include opacity(0);
		position: absolute;
		margin: auto;
		animation-duration: 1s;
		animation-fill-mode: both;
		transform-origin: center;
		transform-style: preserve-3d;

		> [class*="hustle-"] {
			max-width: map-get($module, max-width);
			max-height: calc(100vh - #{map-get($module-close, button-size)});
			padding: 0;
			overflow: auto;
		}
	}

	// Correctly position slide-in.
	&.hustle-slidein-position {

		// 1. North
		&--north {
			align-items: flex-start;
			justify-content: center;
			padding-right: map-get($gutter, default);
			padding-left: map-get($gutter, default);

			.hustle-slidein-content {

				&.hustle-animate-in {
					@include opacity(1);
					animation-name: slideInDown;
				}

				&.hustle-animate-out {
					@include opacity(1);
					animation-name: slideOutUp;
				}

				> [class*="hustle-"] {
					width: calc(100vw - #{map-get($gutter, default) * 2});

					@include media(max-width, sm) {
						width: calc(100vw - #{map-get($gutter, small) * 2});
					}
				}
			}

			@include media(max-width, sm) {
				padding-right: map-get($gutter, small);
				padding-left: map-get($gutter, small);
			}
		}

		// 2. South
		&--south {
			align-items: flex-end;
			justify-content: center;
			padding-right: map-get($gutter, default);
			padding-left: map-get($gutter, default);

			.hustle-slidein-content {

				&.hustle-animate-in {
					@include opacity(1);
					animation-name: slideInUp;
				}

				&.hustle-animate-out {
					@include opacity(1);
					animation-name: slideOutDown;
				}

				> [class*="hustle-"] {
					width: calc(100vw - #{map-get($gutter, default) * 2});

					@include media(max-width, sm) {
						width: calc(100vw - #{map-get($gutter, small) * 2});
					}
				}
			}

			@include media(max-width, sm) {
				padding-right: map-get($gutter, small);
				padding-left: map-get($gutter, small);
			}
		}

		// 3. East
		&--east {
			align-items: center;
			justify-content: flex-end;
			padding-left: map-get($gutter, default);

			.hustle-slidein-content {

				&.hustle-animate-in {
					@include opacity(1);
					animation-name: slideInRight;
				}

				&.hustle-animate-out {
					@include opacity(1);
					animation-name: slideOutRight;
				}

				> [class*="hustle-"] {
					width: calc(100vw - #{map-get($gutter, default)});

					@include media(max-width, sm) {
						width: calc(100vw - #{map-get($gutter, small)});
					}
				}
			}

			@include media(max-width, sm) {
				padding-left: map-get($gutter, small);
			}
		}

		// 4. West
		&--west {
			align-items: center;
			justify-content: flex-start;
			padding-right: map-get($gutter, default);

			.hustle-slidein-content {

				&.hustle-animate-in {
					@include opacity(1);
					animation-name: slideInLeft;
				}

				&.hustle-animate-out {
					@include opacity(1);
					animation-name: slideOutLeft;
				}

				> [class*="hustle-"] {
					width: calc(100vw - #{map-get($gutter, default)});

					@include media(max-width, sm) {
						width: calc(100vw - #{map-get($gutter, small)});
					}
				}
			}

			@include media(max-width, sm) {
				padding-right: map-get($gutter, small);
			}
		}

		// 5. North East
		&--north-east {
			justify-content: flex-end;
			align-items: flex-start;
			padding-left: map-get($gutter, default);

			.hustle-slidein-content {

				&.hustle-animate-in {
					@include opacity(1);
					animation-name: slideInRight;
				}

				&.hustle-animate-out {
					@include opacity(1);
					animation-name: slideOutRight;
				}

				> [class*="hustle-"] {
					width: calc(100vw - #{map-get($gutter, default)});

					@include media(max-width, sm) {
						width: calc(100vw - #{map-get($gutter, small)});
					}
				}
			}

			@include media(max-width, sm) {
				padding-left: map-get($gutter, small);
			}
		}

		// 6. North West
		&--north-west {
			justify-content: flex-start;
			align-items: flex-start;
			padding-right: map-get($gutter, default);

			.hustle-slidein-content {

				&.hustle-animate-in {
					@include opacity(1);
					animation-name: slideInLeft;
				}

				&.hustle-animate-out {
					@include opacity(1);
					animation-name: slideOutLeft;
				}

				> [class*="hustle-"] {
					width: calc(100vw - #{map-get($gutter, default)});

					@include media(max-width, sm) {
						width: calc(100vw - #{map-get($gutter, small)});
					}
				}
			}

			@include media(max-width, sm) {
				padding-right: map-get($gutter, small);
			}
		}

		// 7. South East
		&--south-east {
			justify-content: flex-end;
			align-items: flex-end;
			padding-left: map-get($gutter, default);

			.hustle-slidein-content {

				&.hustle-animate-in {
					@include opacity(1);
					animation-name: slideInRight;
				}

				&.hustle-animate-out {
					@include opacity(1);
					animation-name: slideOutRight;
				}

				> [class*="hustle-"] {
					width: calc(100vw - #{map-get($gutter, default)});

					@include media(max-width, sm) {
						width: calc(100vw - #{map-get($gutter, small)});
					}
				}
			}

			@include media(max-width, sm) {
				padding-left: map-get($gutter, small);
			}
		}

		// 8. South West
		&--south-west {
			justify-content: flex-start;
			align-items: flex-end;
			padding-right: map-get($gutter, default);

			.hustle-slidein-content {

				&.hustle-animate-in {
					@include opacity(1);
					animation-name: slideInLeft;
				}

				&.hustle-animate-out {
					@include opacity(1);
					animation-name: slideOutLeft;
				}

				> [class*="hustle-"] {
					width: calc(100vw - #{map-get($gutter, default)});

					@include media(max-width, sm) {
						width: calc(100vw - #{map-get($gutter, small)});
					}
				}
			}

			@include media(max-width, sm) {
				padding-right: map-get($gutter, small);
			}
		}
	}

	&.hustle-show {
		display: flex;
		visibility: visible;
	}
}