%hui-image-fit-fill {

	img {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		object-fit: fill;
		-ms-interpolation-mode: bicubic;
	}
}

%hui-image-fit-contain {

	img {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		object-fit: contain;
		-ms-interpolation-mode: bicubic;

		@include support(ie) {
			width: auto;
			max-width: 100%;
			height: auto;
			max-height: 100%;
		}
	}
}

%hui-image-fit-cover {

	img {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		object-fit: cover;
		-ms-interpolation-mode: bicubic;

		@include support(ie) {
			width: auto;
			height: auto;
		}
	}
}

%hui-image-fit-full {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;

	img {
		width: auto;
		max-width: 100%;
		height: auto;
		display: block;
		flex: 0 1 auto;
		margin: 0 auto;
	}

	@include support(ie) {
		display: block;
	}
}