<style>

	.hustle-optin .hustle-layout .hustle-layout-body {
		background-color: #38454E;
	}

	.hustle-optin .hustle-layout .hustle-layout-form {
		background-color: #5D7380;
	}

	.hustle-optin .hustle-layout .hustle-image {
		background-color: #35414A;
	}

	.hustle-optin .hustle-layout .hustle-button {
		border-width: 0;
		border-style: none;
		border-color: rgba(0,0,0,0);
		background-color: rgba(56,197,181,1);
		color: rgba(255,255,255,1);
	}

	.hustle-optin .hustle-layout .hustle-input {
		border-width: 0;
		border-style: none;
		border-color: rgba(0,0,0,0);
		background-color: rgba(255,255,255,1);
	}

	.hustle-optin .hustle-layout .hustle-title {
		color: #FFFFFF;
	}

	.hustle-optin .hustle-layout .hustle-subtitle {
		color: #FFFFFF;
	}

	.hustle-optin .hustle-form .hustle-field input {
		border-width: 0;
		border-style: none;
		border-color: rgba(0,0,0,0);
	}

	.hustle-optin .hustle-form .hustle-field .hustle-field-placeholder span {
		color: rgba(170,170,170,1);
	}

</style>