@include body-class(focus-content) {

	// SIZE: Global
	.hustle-layout {

		// ELEMENT: Image
		.hustle-image {

			&.hustle-image-fit--fill,
			&.hustle-image-fit--cover,
			&.hustle-image-fit--contain {
				height: $hui-image-size-sm;
				overflow: hidden;
			}
	
			&.hustle-image-fit--fill {
				@extend %hui-image-fit-fill;
			}
	
			&.hustle-image-fit--contain {
				@extend %hui-image-fit-contain;
			}
	
			&.hustle-image-fit--cover {
				@extend %hui-image-fit-cover;
			}
	
			&.hustle-image-fit--none {
				@extend %hui-image-fit-full;
			}
		}
	}

	// SIZE: Normal
	&:not(.hustle-size--small) {

		.hustle-layout {

			.hustle-layout-body {

				.hustle-layout-sidebar {

					.hustle-image {

						@include media(min-width, sm) {
							flex: 0 0 auto;
						}
					}

					.hustle-layout-form {

						@include media(min-width, sm) {
							display: flex;
							flex-direction: column;
							justify-content: center;
							flex: 1;
						}
					}

					@include media(min-width, sm) {
						display: flex;
						flex-direction: column;
						justify-content: center;
						flex: 0 0 $hui-image-size;
					}
				}

				.hustle-layout-content {

					@include media(min-width, sm) {
						display: flex;
						flex-direction: column;
						justify-content: center;
						flex: 1;
					}
				}

				@include media(min-width, sm) {
					display: flex;
				}
			}
		}
	}
}