$palettes: gray-slate coffee ectoplasm blue sunrise midnight;

// ========================================|
// 1. BASIC                                |
// ========================================|

// Main background
$main-background: (
	gray-slate: #38454E,
	coffee:     #46403B,
	ectoplasm:  #403159,
	blue:       #176387,
	sunrise:    #B03E34,
	midnight:   #25282B,
);

// Image container BG
$image-container: (
	gray-slate: #35414A,
	coffee:     #423D38,
	ectoplasm:  #3D2F54,
	blue:       #165E80,
	sunrise:    #A73B31,
	midnight:   #232629,
);

// Form area background
$form-background: (
	gray-slate: #5D7380,
	coffee:     #59524B,
	ectoplasm:  #513E70,
	blue:       #78B5D1,
	sunrise:    #CB4B40,
	midnight:   #363B3F,
);

// ========================================|
// 2. CONTENT                              |
// ========================================|

// ****************************************
// 2.1. DEFAULT

// Title color
$title-color: (
	gray-slate: #FFFFFF,
	coffee:     #FFFFFF,
	ectoplasm:  #FFFFFF,
	blue:       #FFFFFF,
	sunrise:    #FFFFFF,
	midnight:   #FFFFFF,
);

// Subtitle color
$subtitle-color: (
	gray-slate: #FFFFFF,
	coffee:     #FFFFFF,
	ectoplasm:  #FFFFFF,
	blue:       #FFFFFF,
	sunrise:    #FFFFFF,
	midnight:   #FFFFFF,
);

// Content color
$content-color: (
	gray-slate: #ADB5B7,
	coffee:     #CCC2B7,
	ectoplasm:  #ADB5B7,
	blue:       #FFFFFF,
	sunrise:    #FFFFFF,
	midnight:   #ADB5B7,
);

// OL counter
$ol-counter: (
	gray-slate: #ADB5B7,
	coffee:     #CCC2B7,
	ectoplasm:  #ADB5B7,
	blue:       #FFFFFF,
	sunrise:    #FFFFFF,
	midnight:   #ADB5B7,
);

// UL bullets
$ul-bullets: (
	gray-slate: #ADB5B7,
	coffee:     #CCC2B7,
	ectoplasm:  #ADB5B7,
	blue:       #FFFFFF,
	sunrise:    #FFFFFF,
	midnight:   #ADB5B7,
);

// Blockquote border
$blockquote-border: (
	gray-slate: #38C5B5,
	coffee:     #C6A685,
	ectoplasm:  #B9CE33,
	blue:       #78B5D1,
	sunrise:    #CBB000,
	midnight:   #DD4F3D,
);

// Link color
$link-color-static: (
	gray-slate: #38C5B5,
	coffee:     #C6A685,
	ectoplasm:  #B9CE33,
	blue:       #78B5D1,
	sunrise:    #CBB000,
	midnight:   #DD4F3D,
);

// ****************************************
// 2.2. HOVER

// Link color
$link-color-hover: (
	gray-slate: #2DA194,
	coffee:     #A0866B,
	ectoplasm:  #92A41E,
	blue:       #4D95B6,
	sunrise:    #9A8603,
	midnight:   #C63D2B,
);

// ****************************************
// 2.3. ACTIVE

// Link color
$link-color-active: (
	gray-slate: #2DA194,
	coffee:     #A0866B,
	ectoplasm:  #92A41E,
	blue:       #4D95B6,
	sunrise:    #9A8603,
	midnight:   #C63D2B,
);

// ========================================|
// 3. CALL TO ACTION                       |
// ========================================|

// ****************************************
// 3.1. DEFAULT

// Background color
$cta-background-static: (
	gray-slate: #38C5B5,
	coffee:     #C6A685,
	ectoplasm:  #B9CE33,
	blue:       #78B5D1,
	sunrise:    #CBB000,
	midnight:   #DD4F3D,
);

// Label color
$cta-label-static: (
	gray-slate: #FFFFFF,
	coffee:     #FFFFFF,
	ectoplasm:  #FFFFFF,
	blue:       #FFFFFF,
	sunrise:    #FFFFFF,
	midnight:   #FFFFFF,
);

// ****************************************
// 3.2. HOVER

// Background color
$cta-background-hover: (
	gray-slate: #49E2D1,
	coffee:     #C69767,
	ectoplasm:  #92A41E,
	blue:       #4D95B6,
	sunrise:    #9A8603,
	midnight:   #C63D2B,
);

// Label color
$cta-label-hover: (
	gray-slate: #FFFFFF,
	coffee:     #FFFFFF,
	ectoplasm:  #FFFFFF,
	blue:       #FFFFFF,
	sunrise:    #FFFFFF,
	midnight:   #FFFFFF,
);

// ****************************************
// 3.2. ACTIVE

// Background color
$cta-background-active: (
	gray-slate: #49E2D1,
	coffee:     #C69767,
	ectoplasm:  #92A41E,
	blue:       #4D95B6,
	sunrise:    #9A8603,
	midnight:   #C63D2B,
);

// Label color
$cta-label-active: (
	gray-slate: #FFFFFF,
	coffee:     #FFFFFF,
	ectoplasm:  #FFFFFF,
	blue:       #FFFFFF,
	sunrise:    #FFFFFF,
	midnight:   #FFFFFF,
);

// ========================================|
// 4. INPUTS                               |
// ========================================|

// ****************************************
// 4.1. DEFAULT

// Icon color
$input-icon-static: (
	gray-slate: #AAAAAA,
	coffee:     #AFA397,
	ectoplasm:  #AAAAAA,
	blue:       #AAAAAA,
	sunrise:    #AAAAAA,
	midnight:   #AAAAAA,
);

// Background color
$input-background-static: (
	gray-slate: #FFFFFF,
	coffee:     #FFFFFF,
	ectoplasm:  #FFFFFF,
	blue:       #FFFFFF,
	midnight:   #FFFFFF,
);

// Text color
$input-color: (
	gray-slate: #5D7380,
	coffee:     #59524B,
	ectoplasm:  #513E70,
	blue:       #4D95B6,
	sunrise:    #333333,
	midnight:   #363B3F,
);

// Placeholder
$input-placeholder: (
	gray-slate: #AAAAAA,
	coffee:     #AFA397,
	ectoplasm:  #AAAAAA,
	blue:       #AAAAAA,
	sunrise:    #AAAAAA,
	midnight:   #AAAAAA,
);

// ****************************************
// 4.2. HOVER

// Icon color
$input-icon-hover: (
	gray-slate: #5D7380,
	coffee:     #59524B,
	ectoplasm:  #513E70,
	blue:       #4D95B6,
	sunrise:    #CBB000,
	midnight:   #232629,
);

// Background color
$input-background-hover: (
	gray-slate: #FFFFFF,
	coffee:     #FFFFFF,
	ectoplasm:  #FFFFFF,
	blue:       #FFFFFF,
	sunrise:    #FFFFFF,
	midnight:   #FFFFFF,
);

// ****************************************
// 4.3. FOCUS

// Icon color
$input-icon-focus: (
	gray-slate: #5D7380,
	coffee:     #59524B,
	ectoplasm:  #513E70,
	blue:       #4D95B6,
	sunrise:    #CBB000,
	midnight:   #232629,
);

// Background color
$input-background-focus: (
	gray-slate: #FFFFFF,
	coffee:     #FFFFFF,
	ectoplasm:  #FFFFFF,
	blue:       #FFFFFF,
	sunrise:    #FFFFFF,
	midnight:   #FFFFFF,
);

// ****************************************
// 4.4. ERROR

// Icon color
$input-icon-error: (
	gray-slate: #D43858,
	coffee:     #D43858,
	ectoplasm:  #D43858,
	blue:       #D43858,
	sunrise:    #333333,
	midnight:   #DD4F3D,
);

// Border color
$input-border-error: (
	gray-slate: #D43858,
	coffee:     #D43858,
	ectoplasm:  #D43858,
	blue:       #D43858,
	sunrise:    #333333,
	midnight:   #DD4F3D,
);

// ========================================|
// 5. RADIO AND CHECKBOX                   |
// ========================================|

// ****************************************
// 5.1. DEFAULT

// Background color
$checkbox-background-static: (
	gray-slate: #FFFFFF,
	coffee:     #FFFFFF,
	ectoplasm:  #FFFFFF,
	blue:       #FFFFFF,
	sunrise:    #FFFFFF,
	midnight:   #FFFFFF,
);

// Label color
$checkbox-label: (
	gray-slate: #FFFFFF,
	coffee:     #FFFFFF,
	ectoplasm:  #FFFFFF,
	blue:       #FFFFFF,
	sunrise:    #FFFFFF,
	midnight:   #FFFFFF,
);

// ****************************************
// 5.2. CHECKED

// Background color
$checkbox-background-checked: (
	gray-slate: #FFFFFF,
	coffee:     #FFFFFF,
	ectoplasm:  #FFFFFF,
	blue:       #FFFFFF,
	sunrise:    #FFFFFF,
	midnight:   #FFFFFF,
);

// Icon color
$checkbox-icon: (
	gray-slate: #38C5B5,
	coffee:     #C6A685,
	ectoplasm:  #513E70,
	blue:       #78B5D1,
	sunrise:    #CBB000,
	midnight:   #DD4F3D,
);

// ****************************************
// 5.3. ERROR

// Background color
$checkbox-background-error: (
	gray-slate: #FFFFFF,
	coffee:     #FFFFFF,
	ectoplasm:  #FFFFFF,
	blue:       #FFFFFF,
	sunrise:    #FFFFFF,
	midnight:   #FFFFFF,
);

// Border color
$checkbox-border-error: (
	gray-slate: #D43858,
	coffee:     #D43858,
	ectoplasm:  #D43858,
	blue:       #D43858,
	sunrise:    #333333,
	midnight:   #DD4F3D,
);

// ========================================|
// 6. SUBMIT BUTTON                        |
// ========================================|

// ****************************************
// 6.1. DEFAULT

// Background color
$submit-background-static: (
	gray-slate: #38C5B5,
	coffee:     #C6A685,
	ectoplasm:  #B9CE33,
	blue:       #4D95B6,
	sunrise:    #CBB000,
	midnight:   #DD4F3D,
);

// Text color
$submit-label-static: (
	gray-slate: #FFFFFF,
	coffee:     #FFFFFF,
	ectoplasm:  #FFFFFF,
	blue:       #FFFFFF,
	sunrise:    #FFFFFF,
	midnight:   #FFFFFF,
);

// ****************************************
// 6.2. HOVER

// Background color
$submit-background-hover: (
	gray-slate: #49E2D1,
	coffee:     #C69767,
	ectoplasm:  #92A41E,
	blue:       #165E80,
	sunrise:    #9A8603,
	midnight:   #C63D2B,
);

// Text color
$submit-label-hover: (
	gray-slate: #FFFFFF,
	coffee:     #FFFFFF,
	ectoplasm:  #FFFFFF,
	blue:       #FFFFFF,
	sunrise:    #FFFFFF,
	midnight:   #FFFFFF,
);

// ****************************************
// 6.3. ACTIVE

// Background color
$submit-background-active: (
	gray-slate: #49E2D1,
	coffee:     #C69767,
	ectoplasm:  #92A41E,
	blue:       #165E80,
	sunrise:    #9A8603,
	midnight:   #C63D2B,
);

// Text color
$submit-label-active: (
	gray-slate: #FFFFFF,
	coffee:     #FFFFFF,
	ectoplasm:  #FFFFFF,
	blue:       #FFFFFF,
	sunrise:    #FFFFFF,
	midnight:   #FFFFFF,
);

// ========================================|
// 7. FORM OPTIONS                         |
// ========================================|

// Container background
$options-background: (
	gray-slate: #35414A,
	coffee:     #423D38,
	ectoplasm:  #3D2F54,
	blue:       #165E80,
	sunrise:    #A73B31,
	midnight:   #232629,
);

// Content color
$options-content: (
	gray-slate: #FFFFFF,
	coffee:     #FFFFFF,
	ectoplasm:  #FFFFFF,
	blue:       #FFFFFF,
	sunrise:    #FFFFFF,
	midnight:   #FFFFFF,
);

// ========================================|
// 8. ERROR MESSAGE                        |
// ========================================|

// Background color
$error-background: (
	gray-slate: #FFFFFF,
	coffee:     #FFFFFF,
	ectoplasm:  #FFFFFF,
	blue:       #FFFFFF,
	sunrise:    #FFFFFF,
	midnight:   #FFFFFF,
);

// Border color
$error-border: (
	gray-slate: #D43858,
	coffee:     #D43858,
	ectoplasm:  #D43858,
	blue:       #D43858,
	sunrise:    #333333,
	midnight:   #DD4F3D,
);

// Message color
$error-message: (
	gray-slate: #D43858,
	coffee:     #D43858,
	ectoplasm:  #D43858,
	blue:       #D43858,
	sunrise:    #333333,
	midnight:   #DD4F3D,
);

// ========================================|
// 9. ADDITIONAL SETTINGS                  |
// ========================================|

// ****************************************
// 9.1. DEFAULT

// Pop-up mask
$popup-mask: (
	gray-slate: rgba(51,51,51,0.9),
	coffee:     rgba(51,51,51,0.9),
	ectoplasm:  rgba(51,51,51,0.9),
	blue:       rgba(51,51,51,0.9),
	sunrise:    rgba(51,51,51,0.9),
	midnight:   rgba(51,51,51,0.9),
);

// Success icon
$success-icon: (
	gray-slate: #38C5B5,
	coffee:     #C6A685,
	ectoplasm:  #B9CE33,
	blue:       #4D95B6,
	sunrise:    #CBB000,
	midnight:   #DD4F3D,
);

// Close button
$close-color-static: (
	gray-slate: #38C5B5,
	coffee:     #C6A685,
	ectoplasm:  #B9CE33,
	blue:       #78B5D1,
	sunrise:    #CBB000,
	midnight:   #DD4F3D,
);

// Never See Link
$nsa-color-static: (
	gray-slate: #38C5B5,
	coffee:     #C6A685,
	ectoplasm:  #B9CE33,
	blue:       #78B5D1,
	sunrise:    #CBB000,
	midnight:   #DD4F3D,
);

// ****************************************
// 9.2. HOVER

// Close button
$close-color-hover: (
	gray-slate: #49E2D1,
	coffee:     #C69767,
	ectoplasm:  #92A41E,
	blue:       #165E80,
	sunrise:    #9A8603,
	midnight:   #C63D2B,
);

// Never See Link
$nsa-color-hover: (
	gray-slate: #49E2D1,
	coffee:     #C69767,
	ectoplasm:  #92A41E,
	blue:       #165E80,
	sunrise:    #9A8603,
	midnight:   #C63D2B,
);

// ****************************************
// 9.3. ACTIVE

// Close button
$close-color-active: (
	gray-slate: #49E2D1,
	coffee:     #C69767,
	ectoplasm:  #92A41E,
	blue:       #165E80,
	sunrise:    #9A8603,
	midnight:   #C63D2B,
);

// Never See Link
$nsa-color-active: (
	gray-slate: #49E2D1,
	coffee:     #C69767,
	ectoplasm:  #92A41E,
	blue:       #165E80,
	sunrise:    #9A8603,
	midnight:   #C63D2B,
);