@include hui-class(null, social, null, false) {
	width: auto;
	max-width: 100%;
	display: inline-flex;
	margin: 0;
	border: 0;

	ul, li {
		border: 0;
		list-style: none;

		&:before,
		&:after {
			content: unset !important;
			display: none !important;
		}
	}

	&[data-grid-desktop="inline"] {

		ul {

			li {

				@include media(min-width, sm) {
					flex: 0 0 auto;
					margin: 0;
					padding: #{map-get($gutter, default) / 2};
				}
			}

			@include media(min-width, sm) {
				display: flex;
				flex-wrap: wrap;
				flex: 1;
				align-items: center;
				margin: -#{map-get($gutter, default) / 2};
				padding: 0;
			}
		}
	}

	&[data-grid-desktop="stacked"] {

		ul {

			li {

				@include media(min-width, sm) {
					margin: 0;
					padding: #{map-get($gutter, default) / 2};
				}
			}

			@include media(min-width, sm) {
				display: flex;
				flex-direction: column;
				margin: -#{map-get($gutter, default) / 2};
				padding: 0;
			}
		}
	}

	&[data-grid-desktop="inline"] {

		ul {

			li {

				@include media(min-width, sm) {
					flex: 0 0 auto;
					margin: 0;
					padding: #{map-get($gutter, default) / 2};
				}
			}

			@include media(min-width, sm) {
				display: flex;
				flex-wrap: wrap;
				flex: 1;
				align-items: center;
				margin: -#{map-get($gutter, default) / 2};
				padding: 0;
			}
		}
	}

	&[data-grid-mobiles="stacked"] {

		ul {

			li {

				@include media(max-width, sm) {
					margin: 0;
					padding: #{map-get($gutter, small) / 2};
				}
			}

			@include media(max-width, sm) {
				display: flex;
				flex-direction: column;
				margin: -#{map-get($gutter, small) / 2};
				padding: 0;
			}
		}
	}

	&[data-grid-mobiles="inline"] {

		ul {

			li {

				@include media(max-width, sm) {
					flex: 0 0 auto;
					margin: 0;
					padding: #{map-get($gutter, small) / 2};
				}
			}

			@include media(max-width, sm) {
				display: flex;
				flex-wrap: wrap;
				flex: 1;
				align-items: center;
				margin: -#{map-get($gutter, small) / 2};
				padding: 0;
			}
		}
	}

	@include media(max-width, sm) {
		padding: map-get($gutter, small);
	}

	@include media(min-width, sm) {
		padding: map-get($gutter, default);
	}
}