@include hui-class(null, social, null, false) {
	width: auto;
	max-width: 100%;
	display: inline-flex;
	margin: 0;
	border: 0;

	ul, li {
		border: 0;
		list-style: none;
	}

	// GRID: Stacked
	// Pile social icons one on top of the other.
	&.hustle-social--stacked {

		ul {
			display: block;
			margin: 0;
			padding: 0;

			li {
				margin: 0;

				&:not(:last-child) {

					@include media(max-width, sm) {
						margin-bottom: $hui-gutter-sm;
					}

					@include media(min-width, sm) {
						margin-bottom: $hui-gutter;
					}
				}
			}
		}
	}

	// GRID: Inline
	// Align social icons side-by-side.
	&:not(.hustle-social--stacked) {

		ul {
			display: flex;
			flex-wrap: wrap;
			flex: 1;
			align-items: center;
			padding: 0;

			li {
				flex: 0 0 auto;

				&:before,
				&:after {
					content: unset;
				}

				@include media(max-width, sm) {
					padding: #{$hui-gutter-sm / 2};
				}

				@include media(min-width, sm) {
					padding: #{$hui-gutter / 2};
				}
			}

			@include media(max-width, sm) {
				margin: -#{$hui-gutter-sm / 2};
			}

			@include media(min-width, sm) {
				margin: -#{$hui-gutter / 2};
			}
		}
	}

	@include media(max-width, sm) {
		padding: $hui-gutter-sm;
	}

	@include media(min-width, sm) {
		padding: $hui-gutter;
	}
}