@include hui-class(null, social, null, false) {

	a[class*="hustle-share-"] {
		display: block;
		border-width: map-get($social-module, border-width);
		border-style: map-get($social-module, border-style);
		background-image: unset;
		background-color: transparent;

		[class*="hustle-icon-social-"] {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.hustle-counter {
			display: block;
			font: 500 #{map-get($social-module, font-size)}/#{map-get($social-module, line-height)} map-get($font, default);
			letter-spacing: 0;
		}

		&,
		&:hover,
		&:focus,
		&:active {
			outline: none;
			box-shadow: none;
			text-decoration: none;
		}
	}

	ul {

		&.hustle-counter--none {

			a[class*="hustle-share-"] {

				.hustle-counter {
					display: none;
				}
			}
		}

		&.hustle-counter--stacked {

			a[class*="hustle-share-"] {
				min-width: map-get($social-module, icon-size);
				text-align: center;

				.hustle-counter {
					padding: 10px 4px;
				}
			}
		}

		&.hustle-counter--inline {

			a[class*="hustle-share-"] {
				height: map-get($social-module, icon-size);
				display: flex;
				align-items: center;

				[class*="hustle-icon-social-"] {
					margin-top: -#{map-get($social-module, border-width)};
					margin-left: -#{map-get($social-module, border-width)};
				}

				.hustle-counter {
					padding: 0 10px;
				}
			}
		}
	}
}