// Module Settings
//
// Module Mode: info
// Module Layout: compact

@include hui-class(null, info, compact, false) {

	.hustle-layout {

		// ELEMENT: Image
		.hustle-image {

			&.hustle-image-fit--fill,
			&.hustle-image-fit--cover,
			&.hustle-image-fit--contain {
				height: $hui-image-sm;
			}

			&.hustle-image-fit--fill {
				@extend %hui-image-fit-fill;
			}

			&.hustle-image-fit--contain {
				@extend %hui-image-fit-contain;
			}

			&.hustle-image-fit--cover {
				@extend %hui-image-fit-cover;
			}

			&.hustle-image-fit--none {
				@extend %hui-image-fit-full;
			}
		}

		// ELEMENT: Content
		.hustle-content {
			padding: 0 $hui-gutter-sm;

			.hustle-content-wrap {
				padding: $hui-gutter-sm 0;
			}

			// ELEMENT: Group Title
			.hustle-group-title {

				.hustle-title,
				.hustle-subtitle {
					display: block;
				}

				.hustle-title {
					font: 400 33px/38px $hui-font--alt;
					letter-spacing: 0;

					+ .hustle-subtitle {
						margin-top: $hui-gutter-sm;
					}
				}

				.hustle-subtitle {
					font: bold 14px/24px $hui-font;
					letter-spacing: 0;
				}

				&:not(:last-child) {
					margin-bottom: 0;
					padding-bottom: $hui-gutter-sm;
					border-bottom: 1px solid rgba(0,0,0,0.16);
				}
			}

			// ELEMENT: Group Content
			.hustle-group-content {

				&:not(:first-child) {
					margin-top: 0;
					padding-top: $hui-gutter-sm;
					border-top: 1px solid rgba(255,255,255,0.08);
				}

				&:not(:last-child) {
					padding-bottom: $hui-gutter-sm;
					border-bottom: 1px solid rgba(0,0,0,0.16);
					box-shadow: 0 1px 0 0 rgba(255,255,255,0.08);
				}
			}

			// ELEMENT: Call To Action
			.hustle-button {
				width: 100%;

				+ .hustle-checkbox {
					margin-top: $hui-gutter-sm;
				}
			}
		}
	}
}

@include hui-class(null, info, compact, true) {

	.hustle-layout {

		// ELEMENT: Image
		.hustle-image {

			&.hustle-image-fit--fill,
			&.hustle-image-fit--cover,
			&.hustle-image-fit--contain {

				&:only-child {

					@include media(min-width, sm) {
						max-width: 100%;
						height: $hui-image;
						flex: 1;
					}
				}

				@include media(min-width, sm) {
					max-width: $hui-image;
					height: auto;
					flex: 0 0 $hui-image;
				}
			}

			&.hustle-image-fit--none {

				&:only-child {

					@include media(min-width, sm) {
						max-width: 100%;
						flex: 1;
					}
				}

				@include media(min-width, sm) {
					max-width: 50%;
					flex: 0 0 auto;
				}
			}
		}

		// ELEMENT: Content
		.hustle-content {

			.hustle-content-wrap {

				@include media(min-width, sm) {
					padding: $hui-gutter 0;
				}
			}

			// ELEMENT: Group Title
			.hustle-group-title {

				&:not(:last-child) {

					@include media(min-width, sm) {
						padding-bottom: $hui-gutter;
					}
				}
			}

			// ELEMENT: Group Content
			.hustle-group-content {

				&:not(:first-child) {

					@include media(min-width, sm) {
						padding-top: $hui-gutter;
					}
				}

				&:not(:last-child) {

					@include media(min-width, sm) {
						padding-bottom: $hui-gutter;
					}
				}
			}

			// ELEMENT: Call To Action
			.hustle-button {

				+ .hustle-checkbox {

					@include media(min-width, sm) {
						margin-top: $hui-gutter;
					}
				}

				@include media(min-width, sm) {
					width: auto;
				}
			}

			@include media(min-width, sm) {
				padding: 0 $hui-gutter;
			}
		}

		@include media(min-width, sm) {
			display: flex;
		}
	}
}