// Module Settings
//
// Module Mode: info
// Module Layout: default

@include hui-class(null, info, default, true) {

	.hustle-layout {

		.hustle-layout-content {

			// ELEMENT: Content.
			.hustle-content {

				.hustle-content-wrap {

					@include media(min-width, sm) {
						min-width: 1px;
						min-height: 0;
						flex: 1;
					}
				}

				@include media(min-width, sm) {
					min-width: 1px;
					min-height: 0;
					display: flex;
					flex: 1;
					align-items: center;
				}
			}

			@include media(min-width, sm) {
				min-height: 0;
				display: flex;
			}
		}
	}
}

@include hui-class(null, info, default, true, true) {

	.hustle-layout {

		.hustle-layout-content {

			// ELEMENT: Content.
			.hustle-content {

				@include media(min-width, sm) {
					flex: 1 1 auto;
				}
			}
		}
	}
}

@include hui-class(slidein, info, default, false) {

	.hustle-button-icon {
		position: absolute;
		top: -#{map-get($module-close, button-size)};
		right: 0;
	}

	.hustle-nsa-link {
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}