// Module Settings
//
// Module Mode: info
// Module Layout: stacked

@include hui-class(null, info, stacked, false) {

	.hustle-layout {

		// ELEMENT: Header
		.hustle-layout-header {
			min-height: 30px;
			position: relative;

			.hustle-title,
			.hustle-subtitle {

				&:first-child {
					padding-right: 30px;
				}
			}

			.hustle-title {

				+ .hustle-subtitle {

					+ .hustle-button-close {
						top: 4px;
					}
				}
			}

			.hustle-button-close {
				position: absolute;
				top: 0;
				right: 0;
			}
		}

		// ELEMENT: Body
		.hustle-layout-body {

			// ELEMENT: Group Content
			.hustle-group-content {

				&:not(:last-child) {
					margin-bottom: map-get($gutter, small);
					padding-bottom: map-get($gutter, small);
					border-bottom: 1px solid rgba(0,0,0,0.16);
					box-shadow: 0 1px 0 0 rgba(255,255,255,0.08);
				}
			}
		}
	}
}

@include hui-class(null, info, stacked, true) {

	.hustle-layout {

		// ELEMENT: Body.
		.hustle-layout-body {

			// ELEMENT: Content.
			.hustle-content {

				.hustle-content-wrap {

					@include media(min-width, sm) {
						min-width: 1px;
						min-height: 0;
						flex: 1;
					}
				}

				@include media(min-width, sm) {
					min-width: 1px;
					min-height: 0;
					display: flex;
					flex: 1;
					align-items: center;
				}
			}

			// ELEMENT: Group Content.
			.hustle-group-content {

				&:not(:last-child) {

					@include media(min-width, sm) {
						margin-bottom: map-get($gutter, default);
						padding-bottom: map-get($gutter, default);
					}
				}
			}

			@include media(min-width, sm) {
				min-height: 0;
				display: flex;
			}
		}
	}
}

@include hui-class(null, info, stacked, true, true) {

	.hustle-layout {

		// ELEMENT: Body.
		.hustle-layout-body {

			// ELEMENT: Image.
			.hustle-image {

				&.hustle-image-fit--fill,
				&.hustle-image-fit--cover,
				&.hustle-image-fit--contain {

					@include media(min-width, sm) {
						min-width: 1px;
						flex-shrink: 1;
					}
				}
			}
		}
	}
}

@include hui-class(slidein, info, stacked, false) {

	.hustle-layout-header {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	.hustle-nsa-link {
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}