// Module Settings
//
// Module Mode: info
// Module Layout: stacked

@include hui-class(null, info, stacked, false) {

	.hustle-layout {

		// ELEMENT: Header
		.hustle-layout-header {
			min-height: 30px;
			position: relative;

			.hustle-title,
			.hustle-subtitle {

				&:first-child {
					padding-right: 30px;
				}
			}

			.hustle-title {

				+ .hustle-subtitle {

					+ .hustle-button-close {
						top: 4px;
					}
				}
			}

			.hustle-button-close {
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
}

@include hui-class(null, info, stacked, true) {

	.hustle-layout {

		// ELEMENT: Body.
		.hustle-layout-body {

			// ELEMENT: Content.
			.hustle-content {

				.hustle-content-wrap {

					@include media(min-width, sm) {
						min-width: 1px;
						min-height: 0;
						flex: 1;
					}
				}

				@include media(min-width, sm) {
					min-width: 1px;
					min-height: 0;
					display: flex;
					flex: 1;
					align-items: center;
				}
			}

			@include media(min-width, sm) {
				min-height: 0;
				display: flex;
			}
		}
	}
}

@include hui-class(slidein, info, stacked, false) {

	.hustle-layout-header {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	.hustle-nsa-link {
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}