@include hui-class(inline, optin, null, false) {

	.hustle-button-close {
		user-select: none !important;
		visibility: hidden !important;
		display: none !important;
	}

	.hustle-layout {

		.hustle-layout-footer {
			user-select: none !important;
			visibility: hidden !important;
			display: none !important;
		}
	}
}