// Module Modes: optin info
@mixin content($modes: null, $container: null) {

	@include hui-class(null, $modes, null, false) {

		.hustle-#{$container} {
			word-break: break-word;

			*:not([class*="forminator-"]) {

				b, strong {
					font-weight: bold;
				}

				a {
					transition: map-get($transition, ease);

					&,
					&:focus,
					&:hover,
					&:active,
					&:visited {
						border: 0;
						outline: none;
						box-shadow: none;
						font-weight: bold;
						text-decoration: none;
					}
				}
			}

			ul, ol {

				&:not([class*="forminator-"]) {
					padding: 0;
					border: 0;
					list-style: none;

					li {
						padding: 0;
						border: 0;
					}

					ul, ol {
						margin-left: map-get($gutter, default);

						&:not(:last-child) {
							margin-bottom: #{map-get($gutter, small) / 2};
						}
					}
				}
			}

			ul:not([class*="forminator-"]) {

				li {

					&:before {
						content: " ";
						width: 4px;
						height: 4px;
						position: relative;
						top: -1px;
						display: inline-block;
						vertical-align: middle;
						margin-right: 5px;
						border-radius: 8px;
					}
				}
			}

			ol:not([class*="forminator-"]) {
				counter-reset: hui-custom-counter;

				li {
					counter-increment: hui-custom-counter;

					&:before {
						content: counter(hui-custom-counter) ".";
						margin-right: 5px;
						font-weight: bold;
					}
				}
			}

			blockquote {
				padding: map-get($gutter, small) 0 map-get($gutter, small) #{map-get($gutter, small) + 4px};
				border-left-width: 4px;
				border-left-style: solid;
			}
		}
	}

	@include hui-class(null, $modes, null, true) {

		.hustle-#{$container} {

			h1, h2, h3, h4, h5, h6, p, ul, ol {

				&:not(:last-child) {

					@include media(min-width, sm) {
						margin-bottom: map-get($gutter, default);
					}
				}
			}

			ul, ol {

				ul, ol {

					&:not(:last-child) {

						@include media(min-width, sm) {
							margin-bottom: #{map-get($gutter, default) / 2};
						}
					}
				}
			}
		}
	}
}