// Module Modes: optin info
@mixin content($modes: null, $container: null) {

	@include hui-class(null, $modes, null, false) {

		.hustle-#{$container} {
			word-break: break-word;

			&, h1, h2, h3, h4, h5, h6, p, li, blockquote {
				font-family: map-get($font, default);
				letter-spacing: 0;

				b, strong {
					font-weight: 700;
				}

				a {
					transition: map-get($transition, ease);

					&,
					&:focus,
					&:hover,
					&:active,
					&:visited {
						border: 0;
						outline: none;
						box-shadow: none;
						font-weight: 700;
						text-decoration: none;
					}
				}
			}

			*:not([class*="forminator-"]) {
				color: inherit;
			}

			h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {

				&:not(.forminator-poll--question):not(.forminator-poll--description):not(.forminator-poll--answers) {
					margin: 0;

					&:not(:last-child) {
						margin-bottom: map-get($gutter, small);
					}
				}
			}

			h1, h2, h3, h4, h5, h6 {
				line-height: 1.4em;
				font-weight: 700;
			}

			h1 {
				font-size: 28px;
			}

			h2 {
				font-size: 22px;
			}

			h3 {
				font-size: 18px;
			}

			h4 {
				font-size: 16px;
			}

			h5 {
				font-size: 14px;
			}

			h6 {
				font-size: 12px;
				text-transform: uppercase;
			}

			ul, ol {

				&:not(.forminator-poll--answers) {
					padding: 0;
					border: 0;
					list-style: none;

					li {
						margin: 0 0 5px;
						padding: 0;
						border: 0;
					}

					ul, ol {
						margin: 0;

						&:not(:last-child) {
							margin-bottom: #{map-get($gutter, small) / 2};
						}
					}
				}
			}

			ul:not(.forminator-poll--answers) {

				li {

					&:before {
						content: " ";
						width: 4px;
						height: 4px;
						position: relative;
						top: -1px;
						display: inline-block;
						vertical-align: middle;
						margin-right: 5px;
						border-radius: 8px;
					}
				}
			}

			ol:not(.forminator-poll--answers) {
				counter-reset: hui-custom-counter;

				li {
					counter-increment: hui-custom-counter;

					&:before {
						content: counter(hui-custom-counter) ".";
						margin-right: 5px;
						font-weight: bold;
					}
				}
			}

			blockquote {
				padding: map-get($gutter, small) 0 map-get($gutter, small) #{map-get($gutter, small) + 4px};
				border-left-width: 4px;
				border-left-style: solid;
			}
		}
	}

	@include hui-class(null, $modes, null, true) {

		.hustle-#{$container} {

			h1, h2, h3, h4, h5, h6, p, ul, ol {

				&:not(:last-child) {

					@include media(min-width, sm) {
						margin-bottom: map-get($gutter, default);
					}
				}
			}

			ul, ol {

				ul, ol {

					&:not(:last-child) {

						@include media(min-width, sm) {
							margin-bottom: #{map-get($gutter, default) / 2};
						}
					}
				}
			}
		}
	}
}