@use "sass:map";

%button {
	min-width: 100px;
	cursor: pointer;
	text-align: center;
	transition: map.get($transition, ease);

	&,
	&:focus,
	&:hover,
	&:active,
	&:visited {
		outline: none;
	}
}

@include hui-class(null, null, null, false) {

	// BUTTON: Call to Action.
	a.hustle-button-cta,
	button.hustle-button-cta {
		@extend %button;
	}

	// BUTTON: Submit.
	a.hustle-button-submit,
	button.hustle-button-submit {
		width: auto;
		display: block;
		position: relative;
		@extend %button;

		.hustle-button-text {
			display: block;
		}

		.hustle-loading-icon {
			display: none;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 14px;
		}

		&.hustle-button-onload {
			pointer-events: none;
			@include opacity(0.6);

			.hustle-button-text {
				@include opacity(0);
			}

			.hustle-loading-icon {
				display: block;
			}
		}
	}
}