@include hui-class(null, null, null, false) {

	.hustle-button-icon {
		width: map-get($module-close, button-size);
		height: map-get($module-close, button-size);
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		margin: 0;
		padding: 0;
		border: 0;
		background-color: transparent;
		background-image: unset;
		text-align: center;
		transition: map-get($transition, ease);

		[class*="hustle-icon-"] {
			display: block;
			margin: 0 auto;
			font-size: map-get($module-close, icon-size);

			&:before {
				display: block;
			}
		}

		&,
		&:hover,
		&:focus,
		&:active {
			outline: none;
			box-shadow: none;
		}

		&.hustle-button-close {
			display: flex;
			margin-right: 0;
			margin-left: auto;
		}
	}
}

@include hui-class(null, null, null, false, false, true) {

	.hustle-button-icon {
		&.hustle-button-close {
			margin-right: auto;
			margin-left: 0;
		}
	}
}