@include hui-class(null, optin info, null, false) {

	.hustle-layout {

		.hustle-group-content {

			&:not(:first-child) {
				margin-top: $hui-gutter-sm;
			}

			&:not(:last-child) {
				margin-bottom: $hui-gutter-sm;
			}
		}
	}
}

@include hui-class(null, optin info, null, true) {

	.hustle-layout {

		.hustle-group-content {

			&:not(:first-child) {

				@include media(min-width, sm) {
					margin-top: $hui-gutter;
				}
			}

			&:not(:last-child) {

				@include media(min-width, sm) {
					margin-bottom: $hui-gutter;
				}
			}
		}
	}
}

@include content(optin info, group-content);