@include global-class() {

	.hustle-info,
	.hustle-optin {

		// SIZE: Small
		.hustle-layout {

			.hustle-group-content {

				&, p {
					font: 400 14px/20px $hui-font;
					letter-spacing: 0;

					b, strong {
						font-weight: 700;
					}
				}

				h1, h2, h3, h4, h5, h6, p, ul, ol {
					margin: 0;

					&:not(:last-child) {
						margin-bottom: $hui-gutter-sm;
					}
				}

				&:not(:first-child) {
					margin-top: $hui-gutter-sm;
				}

				&:not(:last-child) {
					margin-bottom: $hui-gutter-sm;
				}
			}
		}

		// SIZE: Normal
		&:not(.hustle-size--small) {

			.hustle-layout {

				.hustle-group-content {

					h1, h2, h3, h4, h5, h6, p, ul, ol {
	
						&:not(:last-child) {
	
							@include media(min-width, sm) {
								margin-bottom: $hui-gutter;
							}
						}
					}
	
					&:not(:first-child) {
	
						@include media(min-width, sm) {
							margin-top: $hui-gutter;
						}
					}
	
					&:not(:last-child) {
	
						@include media(min-width, sm) {
							margin-bottom: $hui-gutter;
						}
					}
				}
			}
		}
	}
}