%hui-image-fit-fill {

	img {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		object-fit: fill;
		-ms-interpolation-mode: bicubic;
	}
}

%hui-image-fit-contain {

	img {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		object-fit: contain;
		-ms-interpolation-mode: bicubic;

		@include support(ie) {
			width: auto;
			max-width: 100%;
			height: auto;
			max-height: 100%;
		}
	}
}

%hui-image-fit-cover {

	img {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		object-fit: cover;
		-ms-interpolation-mode: bicubic;

		@include support(ie) {
			height: auto;
		}
	}
}

%hui-image-fit-full {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;

	img {
		width: auto;
		max-width: 100%;
		height: auto;
		display: block;
		flex: 0 1 auto;
		margin: 0 auto;
	}
}

@include hustle-class() {

	.hustle-image {
		position: relative;

		// SIZE: Cover and Contain
		&.hustle-size--cover img,
		&.hustle-size--contain img {

			// POSITION: Left Top
			&.hustle-position--lefttop {
				object-position: left top;

				@include support(ie) {
					top: 0;
					left: 0;
				}
			}

			// POSITION: Left Center
			&.hustle-position--leftcenter {
				object-position: left center;

				@include support(ie) {
					top: 50%;
					transform: translate(0,-50%);
				}
			}
			// POSITION: Left Bottom
			&.hustle-position--leftbottom {
				object-position: left bottom;

				@include support(ie) {
					bottom: 0;
				}
			}

			// POSITION: Center Top
			&.hustle-position--centertop {
				object-position: center top;

				@include support(ie) {
					left: 50%;
					transform: translate(-50%,0);
				}
			}

			// POSITION: Center Center
			&.hustle-position--centercenter {
				object-position: center;

				@include support(ie) {
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
				}
			}

			// POSITION: Center Bottom
			&.hustle-modal-image_centerbottom {
				object-position: center bottom;

				@include support(ie) {
					left: 50%;
					bottom: 0;
					transform: translate(-50%,0);
				}
			}
		}
	}
}