@include body-class(true) {

	.showcase-nav {
		display: block;

		ul {
			display: flex;
			align-items: center;
			background-color: $nav-background;

			&, li {
				border: 0;
				list-style: none;
			}

			li {
				display: block;
				margin: 0 5px;

				a {
					display: block;
					padding: 10px 15px;
					color: $nav-color;
					font: 600 13px/20px $font;
					letter-spacing: 0;
					text-transform: uppercase;
					text-decoration: none;

					&:hover,
					&:active,
					&.current {
						color: $nav-current;
					}
				}

				&:first-child {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}
			}

			@include media(max-width, md) {
				margin: 0 -#{$sui-gutter-md};
				padding: 0 $sui-gutter-md;
			}

			@include media(min-width, md) {
				margin: 0 -#{$sui-gutter};
				padding: 0 $sui-gutter;
			}
		}
	}
}