<div
	class="hustle-social hustle-social--default"
	data-grid-desktop="stacked"
	data-grid-mobiles="stacked"
>

	<ul class="hustle-counter--stacked">

		<li><a href="/" class="hustle-share--facebook">
			<i class="hustle-icon-social-facebook" aria-hidden="true"></i>
			<span class="hustle-counter" aria-hidden="true">0</span>
			<span class="hustle-screen-reader">Facebook 0 shares</span>
		</a></li>

		<li><a href="/" class="hustle-share--twitter">
			<i class="hustle-icon-social-twitter" aria-hidden="true"></i>
			<span class="hustle-counter" aria-hidden="true">0</span>
			<span class="hustle-screen-reader">Twitter 0 shares</span>
		</a></li>

		<li><a href="/" class="hustle-share--google">
			<i class="hustle-icon-social-google" aria-hidden="true"></i>
			<span class="hustle-counter" aria-hidden="true">200</span>
			<span class="hustle-screen-reader">Google Plus 0 shares</span>
		</a></li>

		<li><a href="/" class="hustle-share--pinterest">
			<i class="hustle-icon-social-pinterest" aria-hidden="true"></i>
			<span class="hustle-counter" aria-hidden="true">0</span>
			<span class="hustle-screen-reader">Pinterest 0 shares</span>
		</a></li>

		<li><a href="/" class="hustle-share--reddit">
			<i class="hustle-icon-social-reddit" aria-hidden="true"></i>
			<span class="hustle-counter" aria-hidden="true">0</span>
			<span class="hustle-screen-reader">Reddit 0 shares</span>
		</a></li>

		<li><a href="/" class="hustle-share--linkedin">
			<i class="hustle-icon-social-linkedin" aria-hidden="true"></i>
			<span class="hustle-counter" aria-hidden="true">0</span>
			<span class="hustle-screen-reader">Linkedin 0 shares</span>
		</a></li>

		<li><a href="/" class="hustle-share--vkontakte">
			<i class="hustle-icon-social-vkontakte" aria-hidden="true"></i>
			<span class="hustle-counter" aria-hidden="true">0</span>
			<span class="hustle-screen-reader">Vkontakte 0 shares</span>
		</a></li>

		<li><a href="/" class="hustle-share--houzz">
			<i class="hustle-icon-social-houzz" aria-hidden="true"></i>
			<span class="hustle-counter" aria-hidden="true">0</span>
			<span class="hustle-screen-reader">Houzz 0 shares</span>
		</a></li>

		<li><a href="/" class="hustle-share--instagram">
			<i class="hustle-icon-social-instagram" aria-hidden="true"></i>
			<span class="hustle-counter" aria-hidden="true">0</span>
			<span class="hustle-screen-reader">Instagram 0 shares</span>
		</a></li>

		<li><a href="/" class="hustle-share--twitch">
			<i class="hustle-icon-social-twitch" aria-hidden="true"></i>
			<span class="hustle-counter" aria-hidden="true">0</span>
			<span class="hustle-screen-reader">Twitch 0 shares</span>
		</a></li>

		<li><a href="/" class="hustle-share--youtube">
			<i class="hustle-icon-social-youtube" aria-hidden="true"></i>
			<span class="hustle-counter" aria-hidden="true">0</span>
			<span class="hustle-screen-reader">YouTube 0 shares</span>
		</a></li>

		<li><a href="/" class="hustle-share--telegram">
			<i class="hustle-icon-social-telegram" aria-hidden="true"></i>
			<span class="hustle-counter" aria-hidden="true">0</span>
			<span class="hustle-screen-reader">Telegram 0 shares</span>
		</a></li>

	</ul>

</div>