@include body-class() {

	.hustle-layout {

		.hustle-layout-content {

			.hustle-content {
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding: 0 $hui-gutter-sm;

				.hustle-content-wrap {
					width: 100%;
					height: auto;
					flex: 0 0 auto;
					padding: $hui-gutter-sm 0;
				}

				// ELEMENT: Opt-in Title
				h1.hustle-title {
					margin: 0;
					font: 700 20px/27px $hui-font;
					letter-spacing: 0;
					text-transform: none;

					+ .hustle-subtitle {
						margin-top: $hui-gutter-sm;
					}
				}

				// ELEMENT: Opt-in Subtitle
				h2.hustle-subtitle {
					margin: 0;
					font: 700 14px/18px $hui-font;
					letter-spacing: 0;
					text-transform: none;
				}

				// ELEMENT: Opt-in Content
				.hustle-group-content {

					&, p {
						font: 400 14px/20px $hui-font;
						letter-spacing: 0;
	
						b, strong {
							font-weight: 700;
						}
					}

					h1, h2, h3, h4, h5, h6, p, ul, ol {
						margin: 0;

						&:not(:last-child) {
							margin-bottom: $hui-gutter-sm;
						}
					}

					&:not(:first-child) {
						margin-top: $hui-gutter-sm;
					}

					&:not(:last-child) {
						margin-bottom: $hui-gutter-sm;
					}
				}
			}
		}
	}

	// SIZE: Normal
	&:not(.hustle-size--small) {

		.hustle-layout {

			.hustle-layout-content {

				.hustle-content {

					.hustle-content-wrap {

						@include media(min-width, md) {
							padding: $hui-gutter 0;
						}
					}

					// ELEMENT: Opt-in Content
					.hustle-group-content {

						h1, h2, h3, h4, h5, h6, p, ul, ol {
	
							&:not(:last-child) {

								@include media(min-width, sm) {
									margin-bottom: $hui-gutter;
								}
							}
						}

						&:not(:first-child) {

							@include media(min-width, sm) {
								margin-top: $hui-gutter;
							}
						}

						&:not(:last-child) {

							@include media(min-width, sm) {
								margin-bottom: $hui-gutter;
							}
						}
					}

					@include media(min-width, md) {
						padding: 0 $hui-gutter;
					}
				}
			}
		}
	}
}