// Module Settings
//
// Module Mode: optin
// Module Layout: default compact focus-content focus-optin

@include hui-class(null, optin, default compact focus-content focus-optin, false) {

	.hustle-form {

		.hustle-field {
			display: flex;
			align-items: center;
			position: relative;
			margin: 0;
			padding: 0;
			border: 0;
			text-align: left;
		}

		.hustle-button {
			width: 100%;
		}

		.hustle-form-fields {
			display: block;

			&.hustle-proximity-joined {

				.hustle-field {

					&:not(:last-child) {
						margin-bottom: map-get($field-spacing, joined);
					}
				}
			}

			&.hustle-proximity-separated {

				.hustle-field {

					&:not(:last-child) {
						margin-bottom: map-get($field-spacing, separated);
					}
				}
			}
		}

		.hustle-form-options {
			margin-top: map-get($gutter, small);
			padding: map-get($gutter, small);

			.hustle-group-title {
				display: block;
				margin: 0 0 20px;
				padding: 0;
				border: 0;
				font: bold 13px/22px map-get($font, default);
			}
		}
	}
}

@include hui-class(null, optin, default compact focus-content focus-optin, true) {

	.hustle-form {

		.hustle-form-options {

			@include media(min-width, sm) {
				margin-top: map-get($gutter, default);
				padding: map-get($gutter, default);
			}
		}

		&.hustle-form-inline {

			.hustle-field {

				@include media(min-width, sm) {
					min-width: 100px;
					flex: 1;
				}
			}

			.hustle-button {

				@include media(min-width, sm) {
					width: auto;
					flex: 0 0 auto;
				}
			}

			.hustle-form-fields {

				&.hustle-proximity-joined {

					.hustle-field {

						&:not(:last-child) {

							@include media(min-width, sm) {
								margin-top: #{map-get($field-spacing, joined) / 2};
								margin-right: map-get($field-spacing, joined);
								margin-bottom: #{map-get($field-spacing, joined) / 2};
							}
						}
					}

					@include media(min-width, sm) {
						margin-top: -#{map-get($field-spacing, joined) / 2};
						margin-bottom: -#{map-get($field-spacing, joined) / 2};
					}
				}

				&.hustle-proximity-separated {

					.hustle-field {

						&:not(:last-child) {

							@include media(min-width, sm) {
								margin-top: #{map-get($field-spacing, separated) / 2};
								margin-right: map-get($field-spacing, separated);
								margin-bottom: #{map-get($field-spacing, separated) / 2};
							}
						}
					}

					@include media(min-width, sm) {
						margin-top: -#{map-get($field-spacing, separated) / 2};
						margin-bottom: -#{map-get($field-spacing, separated) / 2};
					}
				}

				@include media(min-width, sm) {
					display: flex;
					flex-wrap: wrap;
					align-items: center;
				}
			}
		}
	}
}