@include hui-class(null, optin, null, false) {

	.hustle-success {
		padding: #{map-get($gutter, small) * 2};

		[class*="hustle-icon-"] {
			display: block;
			margin: 0 0 #{map-get($gutter, small) / 2};
			font-size: 22px;
			text-align: center;
		}
	}
}

@include hui-class(null, optin, null, true) {

	.hustle-success {

		[class*="hustle-icon-"] {

			@include media(min-width, sm) {
				margin-bottom: #{map-get($gutter, default) / 2};
			}
		}

		@include media(min-width, sm) {
			padding: #{map-get($gutter, default) * 2};
		}
	}
}

@include content(optin, success-content);