@include hui-class(null, optin, null, false) {

	.hustle-layout {

		.hustle-layout-content {

			.hustle-content {
				display: flex;
				flex-direction: column;
				justify-content: center;

				.hustle-content-wrap {
					width: 100%;
					height: auto;
					flex: 0 0 auto;
				}
			}
		}
	}
}