@include hui-class(null, optin, null, false) {
	width: 100%;
	display: block;

	&, * {
		box-sizing: border-box;
		@extend %hui-text-reset;
	}

	.hustle-layout {

		.hustle-main-wrapper {
			position: relative;
		}

		.hustle-nsa-link {

			a {
				transition: map-get($transition, ease);

				&,
				&:hover,
				&:focus,
				&:active,
				&:visited {
					outline: none;
					box-shadow: none;
				}
			}
		}
	}
}