// Module Settings
//
// Module Mode: optin
// Module Layout: default compact focus-content focus-optin

@include hui-class(null, optin, default compact focus-content focus-optin, false) {

	.hustle-form {

		.hustle-field {
			display: flex;
			align-items: center;
			position: relative;
			text-align: left;
		}
	}
}