@include hui-class(null, optin, null, false) {
	width: 100%;
	display: block;

	&, * {
		box-sizing: border-box;
		@extend %hui-text-reset;
	}

	.hustle-layout {

		.hustle-layout-form {
			padding: $hui-gutter-sm;
		}

		.hustle-layout-footer {
			text-align: center;
			margin-top: $hui-gutter-sm;
		}

		.hustle-nsa-link {
			margin: 0;
			padding: 0;
			border: 0;
			font: 400 14px/20px map-get($font, default);

			a {
				font-weight: inherit;
				transition: $hui-transition--ease;

				&,
				&:hover,
				&:focus,
				&:active,
				&:visited {
					outline: none;
					box-shadow: none;
				}
			}
		}
	}
}

@include hui-class(null, optin, null, true) {

	.hustle-layout {

		.hustle-layout-form {

			@include media(min-width, sm) {
				padding: $hui-gutter;
			}
		}

		.hustle-layout-footer {

			@include media(min-width, sm) {
				margin-top: $hui-gutter;
			}
		}
	}
}