@include hui-class(null, optin, null, false) {

	.hustle-layout {

		.hustle-layout-content {

			.hustle-content {
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding: 0 $hui-gutter-sm;

				.hustle-content-wrap {
					width: 100%;
					height: auto;
					flex: 0 0 auto;
					padding: $hui-gutter-sm 0;
				}

				// ELEMENT: Title
				.hustle-title {
					display: block;
					margin: 0;
					font: 700 20px/27px map-get($font, default);
					letter-spacing: 0;
					text-transform: none;

					+ .hustle-subtitle {
						margin-top: $hui-gutter-sm;
					}
				}

				// ELEMENT: Subtitle
				.hustle-subtitle {
					display: block;
					margin: 0;
					font: 700 14px/18px map-get($font, default);
					letter-spacing: 0;
					text-transform: none;
				}
			}
		}
	}
}

@include hui-class(null, optin, null, true) {

	.hustle-layout {

		.hustle-layout-content {

			.hustle-content {

				.hustle-content-wrap {

					@include media(min-width, md) {
						padding: $hui-gutter 0;
					}
				}

				@include media(min-width, md) {
					padding: 0 $hui-gutter;
				}
			}
		}
	}
}