<div class="hustle-optin hustle-optin--default">

	<button class="hustle-button-icon hustle-button-close">
		<i class="hustle-icon-close" aria-hidden="true"></i>
		<span class="hustle-screen-reader">Close this module</span>
	</button>

	<div class="hustle-success" style="display: none;">

		<i class="hustle-icon-check" aria-hidden="true"></i>

		<div class="hustle-success-content">

			<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam quis risus eget urna mollis ornare vel eu leo.</p>

		</div>

	</div>

	<div class="hustle-layout">

		<div class="hustle-layout-body">

			<div class="hustle-layout-content hustle-layout-position--left">

				<div class="hustle-image hustle-image-fit--contain" aria-hidden="true">

					<img src="assets/images/horizontal.png" alt="Sample image" class="" aria-hidden="true">

				</div>

				<div class="hustle-content">

					<div class="hustle-content-wrap">

						<div class="hustle-group-title">

							<span class="hustle-title">Malesuada Parturient Tellus</span>
							<span class="hustle-subtitle">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</span>

						</div>

						<div class="hustle-group-content">

							<p>Cras mattis consectetur purus sit amet fermentum. <strong>Curabitur blandit tempus porttitor.</strong> Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum <a href="/" target="_blank">massa justo</a> sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>

						</div>

						<a
							href="https://premium.wpmudev.org/"
							target="_blank"
							class="hustle-button hustle-button-cta"
						>
							Call To Action
						</a>

					</div>

				</div>

			</div>

			<form class="hustle-layout-form">

				<div class="hustle-form hustle-form-inline">

					<div class="hustle-form-fields hustle-proximity-joined">

						<label for="hustle-module-10-field-name" class="hustle-field hustle-field-icon--static">

							<input type="text" id="hustle-module-10-field-name" class="hustle-input" />

							<span class="hustle-input-label">
								<i class="hustle-icon-name" aria-hidden="true"></i>
								<span>John Smith</span>
							</span>

						</label>

						<label for="hustle-module-10-field-date" class="hustle-field hustle-field-icon--static">

							<input
								type="text"
								id="hustle-module-10-field-date"
								class="hustle-input hustle-date"
								data-min-date="-20"
								data-rtl-support="false"
							/>

							<span class="hustle-input-label">
								<i class="hustle-icon-datepicker" aria-hidden="true"></i>
								<span>Birthday</span>
							</span>

						</label>

						<label for="hustle-module-10-field-time" class="hustle-field hustle-field-icon--static hustle-field-filled">

							<input
								type="text"
								id="hustle-module-10-field-time"
								class="hustle-input hustle-time"
								data-time-format="hh:mm p"
								data-time-default="9:30"
								data-time-interval="60"
								data-time-dropdown="true"
							/>

							<span class="hustle-input-label">
								<i class="hustle-icon-timepicker" aria-hidden="true"></i>
								<span>Time</span>
							</span>

						</label>

						<label for="hustle-module-10-field-email" class="hustle-field hustle-field-icon--static hustle-field-required">

							<input type="email" id="hustle-module-10-field-email" class="hustle-input" />

							<span class="hustle-input-label">
								<i class="hustle-icon-email" aria-hidden="true"></i>
								<span>johnsmith@email.com</span>
							</span>

						</label>

						<button class="hustle-button hustle-button-submit">
							<span class="hustle-button-text">Submit</span>
							<span class="hustle-loading-text">Form is being submitted. Please, wait a bit...</span>
							<i class="hustle-icon-loader hustle-loading-icon" aria-hidden="true"></i>
						</button>

					</div>

					<div class="hustle-form-options">

						<span class="hustle-group-title">Options Group</span>

						<select
							class="hustle-select2"
							data-rtl-support="false"
							data-language="es"
							data-placeholder="Placeholder"
						>
							<option></option>
							<option>Option</option>
							<option>Option</option>
							<option>Option</option>
						</select>

					</div>

				</div>

				<label for="hustle-module-10-gdpr" class="hustle-checkbox hustle-gdpr">
					<input type="checkbox" id="hustle-module-10-gdpr" />
					<span aria-hidden="true"></span>
					<span>From time to time we would like to send you offers and information we think you would be interested in. If you do not want to receive these, please untick the box.</span>
				</label>

				<div class="hustle-error-message" style="display: none;">
					<p>Woops, something went wrong when we tried to submit this form. Please, review required fields are correctly filled or checked. In case this persist, please contact website owner.</p>
				</div>

			</form>

		</div>

	</div>

</div>