// Module Settings
//
// Module Mode: optin
// Module Layout: compact

@include hui-class(null, optin, compact, false) {

	.hustle-layout {

		.hustle-layout-body {

			// ELEMENT: Image
			.hustle-image {

				&.hustle-image-fit--fill,
				&.hustle-image-fit--cover,
				&.hustle-image-fit--contain {
					height: $hui-image-sm;
					overflow: hidden;
				}

				&.hustle-image-fit--fill {
					@extend %hui-image-fit-fill;
				}

				&.hustle-image-fit--contain {
					@extend %hui-image-fit-contain;
				}

				&.hustle-image-fit--cover {
					@extend %hui-image-fit-cover;
				}

				&.hustle-image-fit--none {
					@extend %hui-image-fit-full;
				}
			}
		}
	}
}

@include hui-class(null, optin, compact, true) {

	.hustle-layout {

		.hustle-layout-body {

			// ELEMENT: Image
			.hustle-image {

				&.hustle-image-fit--fill,
				&.hustle-image-fit--cover,
				&.hustle-image-fit--contain {

					@include media(min-width, sm) {
						max-width: $hui-image;
						height: auto;
						flex: 0 0 $hui-image;
					}
				}

				&.hustle-image-fit--none {

					@include media(min-width, sm) {
						max-width: 50%;
						flex: 0 0 auto;
					}
				}
			}

			// ELEMENT: Content
			.hustle-layout-content {

				.hustle-content {

					@include media(min-width, sm) {
						flex: 1;
					}
				}

				.hustle-layout-form {

					&:only-child {

						@include media(min-width, sm) {
							flex: 1;
							display: flex;
							flex-direction: column;
							justify-content: center;
						}
					}

					@include media(min-width, sm) {
						flex: 0 0 auto;
					}
				}

				@include media(min-width, sm) {
					display: flex;
					flex: 1;
					flex-direction: column;
				}
			}

			@include media(min-width, sm) {
				display: flex;
			}
		}
	}
}