@at-root {

	@font-face {
		font-family: $hui-font--icon;
		src: url(if($hui-assets-helper, twbs-font-path('#{$hui-font-path}#{$hui-font--icon}.eot'), '#{$hui-font-path}#{$hui-font--icon}.eot'));
		src: url(if($hui-assets-helper, twbs-font-path('#{$hui-font-path}#{$hui-font--icon}.eot?#iefix'), '#{$hui-font-path}#{$hui-font--icon}.eot?#iefix')) format('embedded-opentype'),
			 url(if($hui-assets-helper, twbs-font-path('#{$hui-font-path}#{$hui-font--icon}.woff'), '#{$hui-font-path}#{$hui-font--icon}.woff')) format('woff'),
			 url(if($hui-assets-helper, twbs-font-path('#{$hui-font-path}#{$hui-font--icon}.ttf'), '#{$hui-font-path}#{$hui-font--icon}.ttf')) format('truetype'),
			 url(if($hui-assets-helper, twbs-font-path('#{$hui-font-path}#{$hui-font--icon}.svg'), '#{$hui-font-path}#{$hui-font--icon}.svg#')) format('svg');
	}
}

.hustle-ui {

	[class*="hustle-icon-"] {
		@include icon(both);
	}

	@each $name, $char in $icons {

		.hustle-icon-#{$name}:before {
			content: $char;
		}
	}
}