@include global-class() {

	.hustle-info,
	.hustle-optin {

		// SIZE: Small
		.hustle-layout {

			.hustle-error-message {
				margin: $hui-gutter-sm 0 0;
				padding: $hui-gutter-sm $hui-gutter;
				border: 0;
	
				p {
					margin: 0;
					padding: 0;
					border: 0;
					font: 400 12px/20px $hui-font;
					letter-spacing: 0;
				}
			}
		}

		// SIZE: Normal
		&:not(.hustle-size--small) {

			.hustle-layout {

				.hustle-error-message {

					@include media(min-width, sm) {
						margin-top: $hui-gutter;
					}
				}
			}
		}
	}
}