// Module Settings
//
// Module Mode: optin
// Module Layout: compact

@include hui-class(null, optin, compact, false) {

	.hustle-layout {

		.hustle-layout-body {

			// ELEMENT: Image
			.hustle-image {

				&.hustle-image-fit--fill,
				&.hustle-image-fit--cover,
				&.hustle-image-fit--contain {
					height: map-get($module-image, small);
					overflow: hidden;
				}

				&.hustle-image-fit--fill {
					@extend %hui-image-fit-fill;
				}

				&.hustle-image-fit--contain {
					@extend %hui-image-fit-contain;
				}

				&.hustle-image-fit--cover {
					@extend %hui-image-fit-cover;
				}

				&.hustle-image-fit--none {
					@extend %hui-image-fit-full;
				}
			}
		}
	}
}

@include hui-class(null, optin, compact, true) {

	.hustle-layout {

		.hustle-layout-body {

			// ELEMENT: Image.
			.hustle-image {

				&.hustle-image-fit--fill,
				&.hustle-image-fit--cover,
				&.hustle-image-fit--contain {

					@include media(min-width, sm) {
						max-width: map-get($module-image, default);
						height: auto;
						flex: 0 0 map-get($module-image, default);
					}
				}

				&.hustle-image-fit--none {

					@include media(min-width, sm) {
						max-width: 50%;
						flex: 0 0 auto;
					}
				}
			}

			// ELEMENT: Content.
			.hustle-layout-content {

				.hustle-content {

					@include media(min-width, sm) {
						min-width: 1px;
						min-height: 0;
						flex: 1 1 auto;
					}
				}

				.hustle-layout-form {

					&:only-child {

						@include media(min-width, sm) {
							min-width: 1px;
							min-height: 0;
							flex: 1 1 auto;
							display: flex;
							flex-direction: column;
							justify-content: center;
						}
					}

					@include media(min-width, sm) {
						flex: 0 0 auto;
					}
				}

				@include media(min-width, sm) {
					min-width: 1px;
					min-height: 0;
					display: flex;
					flex: 1 1 auto;
					flex-direction: column;
				}
			}

			@include media(min-width, sm) {
				min-height: 0;
				display: flex;
			}
		}
	}
}

@include hui-class(null, optin, compact, true, true)  {

	.hustle-layout {

		.hustle-layout-body {

			// ELEMENT: Image.
			.hustle-image {

				&.hustle-image-fit--fill,
				&.hustle-image-fit--cover,
				&.hustle-image-fit--contain,
				&.hustle-image-fit--none {

					@include media(min-width, sm) {
						min-width: 1px;
						flex-shrink: 1;
					}
				}
			}
		}
	}
}

@include hui-class(slidein, optin, compact, false) {

	.hustle-button-icon {
		position: absolute;
		top: -#{map-get($module-close, button-size)};
		right: 0;
	}

	.hustle-layout-footer {
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}