// Module Settings

// Module Types: all
// Module Modes: optin
// Module Layouts: compact
// Desktop: true
// Custom size: false
@include hui-class(null, optin, compact, true) {

	.hustle-layout {

		.hustle-layout-body {

			// ELEMENT: Content.
			.hustle-layout-content {

				.hustle-content {

					@include media(min-width, sm) {
						min-width: 1px;
						min-height: 0;
						flex: 1 1 auto;
					}
				}

				.hustle-layout-form {

					&:only-child {

						@include media(min-width, sm) {
							min-width: 1px;
							min-height: 0;
							flex: 1 1 auto;
							display: flex;
							flex-direction: column;
							justify-content: center;
						}
					}

					@include media(min-width, sm) {
						flex: 0 0 auto;
					}
				}

				@include media(min-width, sm) {
					min-width: 1px;
					min-height: 0;
					display: flex;
					flex: 1 1 auto;
					flex-direction: column;
				}
			}

			@include media(min-width, sm) {
				min-height: 0;
				display: flex;
			}
		}
	}
}

// Module Types: slide-ins
// Module Modes: optin
// Module Layouts: compact
// Desktop: false
// Custom size: false
@include hui-class(slidein, optin, compact, false) {

	.hustle-layout-footer {
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}