// Module Settings

// Module Types: all
// Module Modes: optin
// Module Layouts: default
// Desktop: true
// Custom size: false
@include hui-class(null, optin, default, true) {

	.hustle-layout {

		.hustle-layout-content {

			// POSITION: Horizontal Sides
			// Image can be displayed at left or right of the content
			&.hustle-layout-position--left,
			&.hustle-layout-position--right {

				// ELEMENT: Content.
				.hustle-content {

					@include media(min-width, sm) {
						min-width: 1px;
						min-height: 0;
						flex: 1 1 auto;
					}
				}

				@include media(min-width, sm) {
					min-height: 0;
					display: flex;
				}
			}
		}
	}
}

// Module Types: slidein
// Module Modes: optin
// Module Layouts: default
// Desktop: false
// Custom size: false
@include hui-class(slidein, optin, default, false) {

	.hustle-layout-footer {
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}