// Module Settings
//
// Module Mode: optin
// Module Layout: focus-optin

@include hui-class(null, optin, focus-optin, false) {

	.hustle-success,
	.hustle-button-icon,
	.hustle-layout-body,
	.hustle-layout-footer {
		pointer-events: initial;
	}

	.hustle-layout {

		// SECTION: Content
		.hustle-layout-content {

			// ELEMENT: Image
			.hustle-image {

				&.hustle-image-fit--fill,
				&.hustle-image-fit--cover,
				&.hustle-image-fit--contain {
					height: map-get($module-image, small);
					overflow: hidden;
				}

				&.hustle-image-fit--fill {
					@extend %hui-image-fit-fill;
				}

				&.hustle-image-fit--contain {
					@extend %hui-image-fit-contain;
				}

				&.hustle-image-fit--cover {
					@extend %hui-image-fit-cover;
				}

				&.hustle-image-fit--none {
					@extend %hui-image-fit-full;
				}
			}
		}
	}

}

@include hui-class(null, optin, focus-optin, true) {

	.hustle-layout {

		.hustle-layout-body {

			// SECTION: Content
			.hustle-layout-content {

				// ELEMENT: Image
				.hustle-image {

					&:only-child {

						@include media(min-width, sm) {
							height: 100%;
							flex: 1;
						}
					}
				}

				.hustle-content {

					@include media(min-width, sm) {
						flex: 1;
					}

					@include support(ie) {

						@include media(min-width, sm) {
							flex: 1 1 auto;
						}
					}
				}

				@include media(min-width, sm) {
					display: flex;
					flex: 1;
					flex-direction: column;
				}
			}

			// ELEMENT: Form
			.hustle-layout-form {

				&:only-child {

					@include media(min-width, sm) {
						max-width: 100%;
						flex: 1;
					}
				}

				@include media(min-width, sm) {
					max-width: map-get($module-image, default);
					display: flex;
					flex: 0 0 map-get($module-image, default);
					flex-direction: column;
					justify-content: center;
				}
			}

			@include media(min-width, sm) {
				display: flex;
			}
		}
	}
}