// Module Settings
//
// Module Mode: optin
// Module Layout: focus-content

@include hui-class(null, optin, focus-content, false) {

	.hustle-layout {

		// ELEMENT: Image
		.hustle-image {

			&.hustle-image-fit--fill,
			&.hustle-image-fit--cover,
			&.hustle-image-fit--contain {
				height: map-get($module-image, small);
				overflow: hidden;
			}

			&.hustle-image-fit--fill {
				@extend %hui-image-fit-fill;
			}

			&.hustle-image-fit--contain {
				@extend %hui-image-fit-contain;
			}

			&.hustle-image-fit--cover {
				@extend %hui-image-fit-cover;
			}

			&.hustle-image-fit--none {
				@extend %hui-image-fit-full;

				img {

					@include support(ie) {
						flex-shrink: 0;
					}
				}
			}
		}
	}
}

@include hui-class(null, optin, focus-content, true) {

	.hustle-layout {

		.hustle-layout-body {

			.hustle-layout-sidebar {

				.hustle-image {

					@include media(min-width, sm) {
						flex: 0 0 auto;
					}
				}

				.hustle-layout-form {

					@include media(min-width, sm) {
						min-height: 1px;
						display: flex;
						flex-direction: column;
						justify-content: center;
						flex: 1 1 auto;
					}
				}

				&:only-child {

					@include media(min-width, sm) {
						width: 100%;
						max-width: none;
						flex: 0 0 auto;
					}
				}

				@include media(min-width, sm) {
					max-width: map-get($module-image, default);
					display: flex;
					flex-direction: column;
					justify-content: center;
					flex: 0 0 map-get($module-image, default);
				}
			}

			.hustle-layout-content {

				@include media(min-width, sm) {
					min-width: 1px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					flex: 1 1 auto;
				}
			}

			@include media(min-width, sm) {
				display: flex;
			}
		}
	}
}

@include hui-class(slidein, optin, focus-content, false) {

	.hustle-success,
	.hustle-layout,
	.hustle-button-icon,
	.hustle-layout-body,
	.hustle-layout-footer {
		pointer-events: initial;
	}
}