<div class="hustle-info hustle-info--default">

	<button class="hustle-button-icon hustle-button-close">
		<i class="hustle-icon-close" aria-hidden="true"></i>
		<span class="hustle-screen-reader">Close this module</span>
	</button>

	<div class="hustle-layout">

		<div class="hustle-layout-header">

			<span class="hustle-title">Malesuada Parturient Tellus</span>

			<span class="hustle-subtitle">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</span>

		</div>

		<div class="hustle-layout-content">

			<div class="hustle-image hustle-image-fit--contain" aria-hidden="true">
				<img src="assets/images/horizontal.png" alt="Sample image" class="" aria-hidden="true" />
			</div>

			<div class="hustle-content">

				<div class="hustle-content-wrap">

					<div class="hustle-group-content">
						<p>Cras mattis consectetur purus sit amet fermentum. <strong>Curabitur blandit tempus porttitor.</strong> Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum <a href="/" target="_blank">massa justo</a> sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
					</div>

				</div>

			</div>

		</div>

		<div class="hustle-layout-footer">
			<a
				href="https://premium.wpmudev.org/"
				target="_blank"
				class="hustle-button hustle-button-cta"
			>
				Call To Action
			</a>
		</div>

	</div>

	<p class="hustle-nsa-link"><a href="#">Never see this message again.</a></p>

</div>